.texto {
  font-family: Serif;
  font-size: 12px;
}

.titulo1 {
  font-family: Serif;
  font-size: 14px;
}

.titulo2 {
  font-family: Serif;
  font-size: 10px;
}

card {
  height: 75px
}

card-body {
  height: 75px
}

.campo-amplio {
  font-family: sans-serif;
  font-size: 12px;
}

.campo_especifico {
  font-family: "Calibri Light";
  font-size: 12px;
}

.single-icon > i {
  font-size: 36px;
  color: #fb397d;
}

.single-special > h4 {
  font-size: 18px;
  color: #5b32b4;
}

.single-icon {
  margin-bottom: 15px;
}

.single-special > h4 {
  font-size: 18px;
  color: #5b32b4;
  margin-bottom: 15px;
}

.single-special {
  border: 1px solid #eff2f6;
  padding: 20px;
  border-radius: 20px 20px 20px 0px;
  -webkit-transition-duration: 800ms;
  -o-transition-duration: 800ms;
  transition-duration: 800ms;
  margin-bottom: 5px;
}
