<div class="row">
  <div class="col-3">
    <div class="row">
      <div class="col-12">
        <h6 class="bg-warning form-control titulo1">
          <i class="fa fa-filter" aria-hidden="true"></i>
          Filtros
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="accordion" class="accordion" *ngFor="let item of filtro">
          <div class="card">
            <a class="card-header collapsed" data-toggle="collapse" [href]="'#'+item.id">
              <div class="row">
                <div class="col-lg-9 col-sm-12">
                  <a class="card-title campo-amplio">{{item.campo_amplio }}</a>
                </div>
                <span class="col-lg-2 col-sm-12">
                    <div class="text-dark">&nbsp;({{ item.total}})</div>
                  </span>
              </div>
            </a>
            <div id="{{item.id}}" class="card-body collapse" data-parent="#accordion">
              <div class="panel-body">
                <table class="table">
                  <tr *ngFor="let areaEspecifica of item.campos_especificos">
                    <td width="80%">
                      <a class="campo_especifico" href="javascript:void(0)"
                         (click)="filtrarPorTitulo(areaEspecifica.nombre)">
                        {{areaEspecifica.nombre}}
                      </a>

                    </td>
                    <td width="20%">
                      <div class="campo_especifico text-dark">&nbsp;({{ areaEspecifica.total}})</div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-9">
    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <input type="text" class="form-control text-uppercase" placeholder="Buscar..." [(ngModel)]="criterioBusqueda">
          <div class="input-group-append">
            <button class="btn btn-info" type="button" (click)="filtroDirecto()">
              <span class="fa fa-search"></span>&nbsp;Buscar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Etiquetas de Filtro-->
    <div class="row mt-2">
      <div class="col-12">
        <div class="input-group">
          <div *ngIf="etiquetaPrincipal">
            <label class="btn-warning">{{etiquetaPrincipal}}</label>
            <button type="button" class="close" aria-label="Close" (click)="borrarFiltro()">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Lista de Postulantes-->
    <div class="row" style="overflow: auto">
      <div class="col-lg-4 col-sm-12" *ngFor="let postulanteActual of postulantes">
        <div class="single-special text-center mt-2">
          <h4 class="text-uppercase" *ngFor="let estudioRealizado of postulanteActual.estudiosRealizados"
              style="overflow:auto;height: 75px;">
            {{estudioRealizado.titulo}}
          </h4>
          <p><b>Mi Perfil</b></p>
          <p style="overflow: auto; height: 200px" class="text-justify">{{postulanteActual.acercaDeMi}}</p>
          <button class="btn btn-primary btn-sm pull-right" *ngIf="authService.rolActual=='e'"
                  (click)="openPostulante(modalPostulante,postulanteActual,true)">
            <span class="fa fa-info-circle"></span>&nbsp;Más Información
          </button>
          <button class="btn btn-primary btn-sm pull-right" *ngIf="authService.rolActual!=='e'"
                  (click)="validarSesion()">
            <span class="fa fa-info-circle"></span>&nbsp;Más Información
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)" tabindex="-1" (click)="paginacion(false)">Previous</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="javascript:void(0)">{{pagina}} de {{totalPaginas}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)" (click)="paginacion(true)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<ng-template #modalPostulante let-c="close" let-d="dismiss">

  <div class="modal-header">
    <div class="input-group">
      <a target="_blank" class="btn btn-primary btn-lg mr-1"
         href="curriculum?idPostulante={{this.postulanteSeleccionado.id}}" hidden>
        <i class="fa fa-print" aria-hidden="true"> Imprimir CV</i>
      </a>
      <button class="btn btn-success btn-lg pull-right" title="Contactar" (click)="c('aplicar')">
        <i class="fa fa-check" aria-hidden="true"> Contactar</i>
      </button>
    </div>
    <button type="button" class="close" aria-label="Close" (click)="d('ClickEnX')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-lg">
    <!--Datos Personales-->
    <div class="card">
      <div class="card-header bg-secondary">
        <h3 class="text-white">Datos Personales:</h3>
      </div>
      <div class="card-body m-1">
        <div class="row">
          <div class="col-lg-6">
            <!-- Identificacion !-->
            <div class="form-group">
              <label for="identificacion" class="col-form-label">
                Identificación:
              </label>
              <input class="form-control" name="identificacion" id="identificacion"
                     [(ngModel)]="postulanteSeleccionado.identificacion" placeholder="Ej. 1734839443" required>

            </div>
            <!-- Nombre Completo !-->
            <div class="form-group">
              <label for="editNombreCompleto" class="col-form-label">
                <b>Nombres:</b>
              </label>
              <label class="form-control text-uppercase" id="editNombreCompleto">
                {{postulanteSeleccionado.nombreCompleto}}
              </label>
            </div>
            <!-- Sexo !-->
            <div class="form-group ">
              <label for="editSexo" class="col-form-label">
                <b>Sexo:</b>
              </label>
              <label class="form-control" id="editSexo">
                {{postulanteSeleccionado.sexo}}
              </label>
            </div>
            <div class="form-group">
              <label for="editEstadoCivil" class="col-form-label">
                Estado Civil:
              </label>
              <label class="form-control text-uppercase" id="editEstadoCivil">
                {{postulanteSeleccionado.estadoCivil}}
              </label>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Telefono !-->
            <div class="form-group ">
              <label for="editTelefono" class="col-form-label">
                <b>Teléfono:</b>
              </label>
              <label class="form-control" id="editTelefono">
                {{postulanteSeleccionado.telefono}}
              </label>
            </div>
            <!-- Correo Electronico !-->
            <div class="form-group ">
              <label for="editCorreoElectronico" class="col-form-label">
                <b>Correo Electrónico:</b>
              </label>
              <label class="form-control text-lowercase" id="editCorreoElectronico">
                {{postulanteSeleccionado.correoElectronico}}
              </label>
            </div>
            <!-- Direccion !-->
            <div class="form-group ">
              <label for="editDireccion" class="col-form-label">
                <b>Dirección:</b>
              </label>
              <label class="form-control text-uppercase" id="editDireccion" style="overflow: auto;height:130px">
                {{postulanteSeleccionado.direccion}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!--Formación-->
    <div class="card">
      <div class="card-header bg-secondary">
        <h3 class="text-white">Formación:</h3>
      </div>
      <div class="card-body  m-1">
        <!--Estudios Realizados-->
        <div class="row">
          <div class="col-12">
            <h2 class="table-secondary">Estudios Realizados:</h2>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th width="25%">Institución</th>
                <th width="45%">Título</th>
                <th width="15%">Fecha de Registro</th>
                <th width="15%">Cód. Reg. SENESCYT</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of postulanteSeleccionado.estudiosRealizados">
                <td>{{item.institucion}}</td>
                <td>{{item.titulo}}</td>
                <td>{{item.fechaRegistro.year}}/{{item.fechaRegistro.month}}/{{item.fechaRegistro.day}}</td>
                <td>{{item.codigoRegistroSENESCYT}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--Capacitación y Cursos-->
        <div class="row">
          <div class="col-12">
            <h2 class="table-secondary">Capacitaciones y Cursos:</h2>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th width="20%">Institución</th>
                <th width="15%">Tipo de Evento</th>
                <th width="25%">Nombre del Evento</th>
                <th width="15%">Tipo de Certificado</th>
                <th width="15%">Desde - Hasta</th>
                <th width="10%">Horas</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of postulanteSeleccionado.capacitaciones">
                <td>{{item.institucion}}</td>
                <td>{{item.tipoEvento}}</td>
                <td>{{item.nombreEvento}}</td>
                <td>{{item.tipoCertificado}}</td>
                <td>{{item.fechaInicio.year}}/{{item.fechaInicio.month}}/{{item.fechaInicio.day}}
                  {{item.fechaFinalizacion.year}}/{{item.fechaFinalizacion.month}}/{{item.fechaFinalizacion.day}}
                </td>
                <td>{{item.horas}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!--Idiomas-->
        <div class="row">
          <div class="col-12">
            <h3 class="table-secondary">Idiomas:</h3>
            <table class="table table-bordered">
              <thead>
              <tr>
                <th>Idioma</th>
                <th>Nivel Escrito</th>
                <th>Nivel Hablado</th>
                <th>Nivel Lectura</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of postulanteSeleccionado.idiomas">
                <td>{{item.idioma}}</td>
                <td>{{item.nivelEscrito}}</td>
                <td>{{item.nivelHablado}}</td>
                <td>{{item.nivelLectura}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!--Experiencia Profesional-->
    <div class="card">
      <div class="card-header bg-secondary">
        <h3 class="text-white">Experiencia Profesional:</h3>
      </div>
      <div class="card-body  m-1">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th width="20%">Empleador</th>
                <th width="20%">Cargo Desempeñado</th>
                <th width="25%">Descripción del Cargo</th>
                <th width="15%">Fecha de Inicio</th>
                <th width="15%">Fecha de Salida</th>
                <th width="5%">Actual</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of postulanteSeleccionado.experienciasLaborales">
                <td>{{item.empleador}}</td>
                <td>{{item.cargoDesempenado}}</td>
                <td><p class="text-justify">{{item.descripcionCargo}}</p></td>
                <td>{{item.fechaInicio.year}}/{{item.fechaInicio.month}}/{{item.fechaInicio.day}}</td>
                <td *ngIf="item.actualmenteVigente"></td>
                <td *ngIf="!item.actualmenteVigente">
                  {{item.fechaFinalizacion.year}}/{{item.fechaFinalizacion.month}}/{{item.fechaFinalizacion.day}}
                </td>
                <td>
                  <div class="col-12 text-center" *ngIf="item.actualmenteVigente"><span
                    class="badge badge-success">Actual</span>
                  </div>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!--Fortalezas-->
    <div class="card">
      <div class="card-header bg-secondary">
        <h3 class="text-white">Fortalezas:</h3>
      </div>
      <div class="card-body  m-1">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th width="30%">Nombre</th>
                <th width="70%">Descripción</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of postulanteSeleccionado.fortalezas">
                <td>{{item.nombre}}</td>
                <td>{{item.descripcion}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <!--Referencias Personales-->
    <div class="card">
      <div class="card-header bg-secondary">
        <h3 class="text-white">Referencias Personales:</h3>
      </div>
      <div class="card-body  m-1">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered">
              <thead>
              <tr>
                <th width="30%">Nombres y Apellidos</th>
                <th width="25%">Cargo</th>
                <th width="30%">Empresa</th>
                <th width="15%">Teléfono</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of postulanteSeleccionado.referenciasPersonales">
                <td>{{item.nombresApellidos}}</td>
                <td>{{item.cargo}}</td>
                <td>{{item.institucion}}</td>
                <td>{{item.telefono}}</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <a target="_blank" class="btn btn-primary btn-lg"
       href="curriculum?idPostulante={{this.postulanteSeleccionado.id}}" hidden>
      <i class="fa fa-print" aria-hidden="true"> Imprimir CV</i>
    </a>
    <button class="btn btn-success btn-lg" title="Contactar" (click)="c('aplicar')">
      <i class="fa fa-check" aria-hidden="true"> Contactar</i>
    </button>
    <button class="btn btn-danger btn-lg" title="Cancelar" (click)="c('close')">
      <i class="fa fa-close" aria-hidden="true"> Cancelar</i>
    </button>
  </div>
</ng-template>

<!--<div class="row" style="overflow: auto">-->
<!--<div class="col-12">-->
<!--<div class="card  mt-2" *ngFor="let postulanteActual of postulantes">-->
<!--<div class="card-body mt-1">-->
<!--<div class="card-title">-->
<!--<div class="row  texto">-->
<!--<div class="col-12">-->
<!--<h3 class="col-12 text-left text-uppercase">{{postulanteActual.nombreCompleto}}</h3>-->
<!--</div>-->
<!--<div class="col-12">-->
<!--<h5 class="col-12 text-left mt-3">Estudios Realizados</h5>-->
<!--<table class="table table-sm">-->
<!--<thead>-->
<!--<th>Institución</th>-->
<!--<th>Tipo de Título</th>-->
<!--<th>Título</th>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr *ngFor="let item of postulanteActual.estudiosRealizados">-->
<!--<td>{{item.institucion}}</td>-->
<!--<td>{{item.tipo_titulo}}</td>-->
<!--<td>{{item.titulo}}</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--<div class="col-12">-->
<!--<h5 class="col-12 text-left mt-3">Idiomas</h5>-->
<!--<table class="table table-sm">-->
<!--<thead>-->
<!--<th>Idioma</th>-->
<!--<th>Nivel Escrito</th>-->
<!--<th>Nivel Hablado</th>-->
<!--<th>Nivel Lectura</th>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr *ngFor="let item of postulanteActual.idiomas">-->
<!--<td class="text-uppercase">{{item.idioma}}</td>-->
<!--<td class="text-uppercase">{{item.nivelEscrito}}</td>-->
<!--<td class="text-uppercase">{{item.nivelHablado}}</td>-->
<!--<td class="text-uppercase">{{item.nivelLectura}}</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--<div class="col-12">-->
<!--<h5 class="col-12 text-left mt-3">Capacitaciones y Certificaciones</h5>-->
<!--<table class="table table-sm">-->
<!--<thead>-->
<!--<th>Nombre del Evento</th>-->
<!--<th>Horas</th>-->
<!--</thead>-->
<!--<tbody>-->
<!--<tr *ngFor="let item of postulanteActual.capacitaciones">-->
<!--<td class="text-uppercase">{{item.nombreEvento}}</td>-->
<!--<td>{{item.horas}}</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-12 m-2 text-left">-->
<!--<a *ngIf="authService.rolActual=='e'" target="_blank" class="btn btn-primary btn-sm text-uppercase text-right"-->
<!--href="curriculum?idPostulante={{postulanteActual.id}}">-->
<!--<span class="fa fa-info-circle"></span>&nbsp;Más Información-->
<!--</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
