<div class="row m-1">
  <div class="col-12">
    <div class="row m-1">
      <div class="col-2 offset-10">
      </div>
    </div>
    <div class="row ml-1">
      <div class="col-12">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <button type="button" class="page-link" (click)="paginate(false)" [disabled]="flagPagination">
                {{messages['bottomPaginationNext']['text']}}
              </button>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)">{{actual_page}} de {{total_pages}}</a>
            </li>
            <li class="page-item">
              <button type="button" class="page-link" (click)="paginate(true)" [disabled]="flagPagination">
                {{messages['bottomPaginationBack']['text']}}
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-12">
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-default text-center">
          <th width="35%">Institución</th>
          <th width="45%">Título</th>
          <th width="10%">Fecha de Registro</th>
          <th width="10%">Cód. de Reg. SENESCYT</th>
          <th>
            <button class="btn btn-success"
                    (click)="open(content, selectedAcademicFormation, false)">
              <span class="{{messages['bottomAdd']['icon']}}"> {{messages['bottomAdd']['text']}}</span>
            </button>
          </th>
          </thead>
          <tbody>
          <tr *ngFor="let item of academicFormations">
            <td>{{item.institution}}</td>
            <td>{{item.professional_degree}}</td>
            <td>{{item.registration_date}}</td>
            <td>{{item.senescyt_code}}</td>
            <td class="text-center">
              <button class="btn btn-warning btn-sm text-white" (click)="open(content,item,true)"><span
                class="{{messages['bottomUpdate']['icon']}}"></span></button>
              <button class="btn btn-danger ml-1 btn-sm" (click)="deleteAcademicFormation(item)"><span
                class="{{messages['bottomDelete']['icon']}}"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <form name="empresaform" method="post" #formCtrl="ngForm">
    <div class="modal-header">
      <div class="row">
        <h4 class="col-12 text-center" name="titulo">Estudio Realizado:</h4>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="institucion">
              <b class="text-danger">*</b> Institución:
            </label>
            <select type="text" [(ngModel)]="selectedAcademicFormation.institution" class="form-control"
                    id="institucion"
                    name="institucion" required>
              <option value="">SELECCIONE...</option>
              <option value="{{institucion.nombre}}" *ngFor="let institucion of instituciones">{{institucion.nombre}}
              </option>
            </select>
          </div>
          <div class="form-group">
            <label>
              <b class="text-danger">*</b> Tipo de Título:
            </label>
            <select class="form-control" [(ngModel)]="selectedAcademicFormation.career"
                    (change)="filterProfessionalDegree()" id="tipoTitulo" name="tipoTitulo" required>
              <option value="" selected>SELECCIONE...</option>
              <option *ngFor="let item of titles" value="{{item.campo_amplio}}">{{item.campo_amplio}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>
              <b class="text-danger">*</b> Título:
            </label>
            <select class="form-control" [(ngModel)]="selectedAcademicFormation.professional_degree" id="titulo"
                    name="titulo" required>
              <option value="" selected>SELECCIONE...</option>
              <option *ngFor="let item of tipo_titulo" value="{{item.nombre}}">{{item.nombre}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="registrationDate">
              <b class="text-danger">*</b> Fecha de Registro:
            </label>
            <input type="date" class="form-control" name="registrationDate" id="registrationDate"
                   (keypress)="false" [(ngModel)]="selectedAcademicFormation.registration_date" required>
          </div>
          <div class="form-group">
            <label for="codigoRegistro">
              <b class="text-danger">*</b> Código de Registro SENESCYT:
            </label>
            <input type="text" [(ngModel)]="selectedAcademicFormation.senescyt_code" class="form-control"
                   id="codigoRegistro" name="codigoRegistro" placeholder="Código de Registro SENESCYT" required>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <h6 class="text-muted">
        <b class="text-danger">{{messages['requiredFields']['icon']}} </b>
        {{messages['requiredFields']['text']}}
      </h6>
      <button class="btn btn-success" (click)="c('save')" [disabled]="formCtrl.form.invalid">
        <span class="{{messages['saveConfirmationDialog']['iconOk']}}"></span>&nbsp;{{messages['saveConfirmationDialog']['ok']}}
      </button>
      <button class="btn btn-danger" (click)="c('close')">
        <span class="{{messages['saveConfirmationDialog']['iconCancel']}}"></span>&nbsp;{{messages['saveConfirmationDialog']['cancel']}}
      </button>
    </div>
  </form>
</ng-template>
