<div class="col-12 mt-2">
  <div class="row">
    <div class="col-12 card">
      <div class="row">
        <h4 class="col-12 text-center">Estudio Realizado</h4>
      </div>
      <div class="row">
        <div class="col-3">
          <div class="form-group">
            <label for="nivel">Nivel</label>
            <select class="form-control" id="nivel" name="nivel">
                <option value="" selected>Seleccione...</option>
                <option value="Bachillerato">Bachillerato</option>
                <option value="Tercer Nivel">Tercer Nivel</option>
                <option value="Cuarto Nivel">Cuarto Nivel</option>
                <option value="Doctorado">Doctorado</option>
              </select>
          </div>
        </div>
        <div class="col-9">
          <div class="form-group">
            <label for="institucion">Institución</label>
            <input type="text" class="form-control" id="institucion" placeholder="Institución">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="titulo">Título</label>
            <input type="text" class="form-control" id="titulo" placeholder="Título">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="fechaRegistro">Fecha de Registro</label>
            <div class="input-group datepicker-input">
              <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <span class="fa fa-calendar"></span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="codigoRegistro">Código de Registro SENESCYT</label>
            <input type="text" class="form-control" id="codigoRegistro" placeholder="Código de Registro SENESCYT">
          </div>
        </div>
      </div>
      <div class="row mb-2">
        <div class="col-12 text-center">
          <button class="btn btn-primary" (click)="aceptar()"><span class="fa fa-plus-circle"></span>&nbsp;Agregar</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12 card mt-3">
      <div class="row">
        <div class="col-12">
          <h4 class="col-12 text-center">Estudios Realizados</h4>
        </div>
        <div class="col-12">
          <table class="table table-sm table-hover">
            <thead>
              <th>Institución</th>
              <th>Nivel</th>
              <th>Título</th>
              <th>Fecha de Registro</th>
              <th>Código de Registro SENESCYT</th>
              <th>Opciones</th>
            </thead>
            <tbody>
              <tr >
                <td>Institución</td>
                <td>Nivel</td>
                <td>Título</td>
                <td>Fecha de Registro</td>
                <td>Código de Registro SENESCYT</td>
                <td>
                    <button class="btn btn-warning" (click)="editar(producto)"><span class="fa fa-edit"></span></button>
                    <button class="btn btn-danger ml-1" (click)="borrar(producto)"><span class="fa fa-trash"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
