<div class="col-12 mt-2">
  <div class="row">
    <button class="btn btn-success m-2" (click)="open(content, estudioRealizado, false)">
      <span class="fa fa-plus-circle"></span>&nbsp;Agregar
    </button>
  </div>
  <div class="row">
    <div class="col-12 card mt-3">
      <div class="row">
        <div class="col-12">
          <h4 class="col-12 text-center">Experiencia Profesional</h4>
        </div>
        <div class="col-12">
          <table class="table table-bordered table-hover">
            <thead class="table-active">
            <th>Institución</th>
            <th>Cargo Desempeñado</th>
            <th>Descripción del Cargo</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Salida</th>
            <th>Actual</th>
            <th width="100px">Opciones</th>
            </thead>
            <tbody>
            <tr *ngFor="let item of postulanteService.postulante.experienciasLaborales">
              <td>{{item.empleador}}</td>
              <td>{{item.cargoDesempenado}}</td>
              <td>{{item.descripcionCargo}}</td>
              <td>
                <div>
                  {{item.fechaInicio.year}}/{{item.fechaInicio.month}}/{{item.fechaInicio.day}}
                </div>
              </td>
              <td>
                <div *ngIf="item.fechaFinalizacion != null">
                  {{item.fechaFinalizacion.year}}/{{item.fechaFinalizacion.month}}/{{item.fechaFinalizacion.day}}
                </div>
              </td>
              <td>
                <div class="col-12 text-center" *ngIf="item.actualmenteVigente"><span
                  class="badge badge-success">Actual</span></div>
              </td>
              <td>
                <button class="btn btn-warning btn-sm" (click)="open(content,item,true)"><span
                  class="fa fa-edit"></span></button>
                <button class="btn btn-danger ml-1 btn-sm" (click)="borrar(item)"><span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="row">
      <h4 class="col-12 text-center">Experiencia Profesional</h4>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="empleador">Empleador</label>
          <input type="text" [(ngModel)]="experienciaLaboral.empleador" class="form-control" id="empleador"
                 placeholder="Empleador">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="cargo">Cargo Desempeñado</label>
          <input type="text" [(ngModel)]="experienciaLaboral.cargoDesempenado" class="form-control" id="cargo"
                 placeholder="Cargo Desempeñado">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="nombreEvento">Descripción del Cargo</label>
          <input type="text" [(ngModel)]="experienciaLaboral.descripcionCargo" class="form-control" id="nombreEvento"
                 placeholder="Descripción del Cargo">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="fechaRegistro">Fecha de Inicio</label>
          <div class="input-group datepicker-input">
            <input class="form-control" [(ngModel)]="experienciaLaboral.fechaInicio" placeholder="yyyy-mm-dd" name="dp"
                   ngbDatepicker #di="ngbDatepicker">
            <button class="input-group-addon" (click)="di.toggle()" type="button">
              <span class="fa fa-calendar"></span>
            </button>
          </div>
        </div>
      </div>
      <div class="col-12">
        <div *ngIf="!experienciaLaboral.actualmenteVigente">
          <div class="form-group">
            <label for="fechaRegistro">Fecha de Finalización</label>
            <div class="input-group datepicker-input">
              <input class="form-control" [(ngModel)]="experienciaLaboral.fechaFinalizacion" placeholder="yyyy-mm-dd"
                     name="dp" ngbDatepicker #d="ngbDatepicker">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <span class="fa fa-calendar"></span>
              </button>
            </div>
          </div>
          <div class="form-group">
            <label for="motivoSalida">Motivo Salida</label>
            <select id="motivoSalida" class="form-control" [(ngModel)]="experienciaLaboral.motivoSalida">
              <option value="">SELECCIONE...</option>
              <option value="CRECIMIENTO PROFESIONAL">CRECIMIENTO PROFESIONAL</option>
              <option value="DESPIDOS Y SALIDAS PACTADAS">DESPIDOS Y SALIDAS PACTADAS</option>
              <option value="MAL AMBIENTE">MAL AMBIENTE</option>
              <option value="MEJORA DE CONDICIONES LABORALES">MEJORA DE CONDICIONES LABORALES</option>
              <option value="SITUACIÓN INCÓMODA">SITUACIÓN INCÓMODA</option>
              <option value="SOBRECARGA LABORAL">SOBRECARGA LABORAL</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <input type="checkbox" [(ngModel)]="experienciaLaboral.actualmenteVigente" class="form-check-input"
                 id="actualmenteTrabajoAqui" hidden>
          <div class="form-group text-center">
            <label class="form-check-label btn" for="actualmenteTrabajoAqui" [ngClass]="{'btn-primary':
                   experienciaLaboral.actualmenteVigente,'btn-danger':!experienciaLaboral.actualmenteVigente}"
            (click)="validarFechaFinTrabajo()">
              <i *ngIf="experienciaLaboral.actualmenteVigente" class="fa fa-check" aria-hidden="true"> Actualmente trabajo aquí</i>
              <i *ngIf="!experienciaLaboral.actualmenteVigente" class="fa fa-question" aria-hidden="true"> Actualmente trabajo aquí</i>
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="c('save')">
      <span class="fa fa-check"></span>&nbsp;Aceptar
    </button>
    <button class="btn btn-danger" (click)="c('close')">
      <span class="fa fa-close"></span>&nbsp;Cancelar
    </button>
  </div>
</ng-template>
