<nav class="navbar navbar-expand-md fixed-top headerSecction navbar-dark">
  <button class="navbar-toggler" data-toggle="collapse" data-target="collapse_target">
    <span class="navbar-toggler-icon text-white"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapse_target">
    <a [routerLink]="['/postulantes']" [routerLinkActive]="['router-link-active']" class="navbar-brand">
      <img src="assets/img/institutos.png" height="90px"/>
    </a>

    <!--Menu de Mi perfil-->
    <ul class="navbar-nav mr-auto">
      <!--Acerca-->
      <li class="nav-item dropdown pretty-button">
        <a class="nav-link text-white" [routerLink]="['/about']"
           [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-info-circle"></i>&nbsp;Acerca de Nosotros
        </a>
      </li>

      <!--Postulantes-->
      <li class="nav-item pretty-button">
        <a class="nav-link text-white" [routerLink]="['/postulantes']" [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-users"></i>&nbsp;Profesionales
        </a>
      </li>

      <!--Ofertas-->
      <li class="nav-item pretty-button">
        <a class="nav-link text-white" [routerLink]="['/empresas']" [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-briefcase"></i>&nbsp;Ofertas Laborales
        </a>
      </li>

      <!--Iniciar Sesion-->
      <li class="nav-item dropdown pretty-button" *ngIf="userLogged.role!='1' && userLogged.role!='2'">
        <a class="nav-link text-white" [routerLink]="['/login']" [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-sign-in"></i>&nbsp;Iniciar Sesión
        </a>
      </li>
      <!--Registro Empresas-->
      <li class="nav-item dropdown pretty-button" *ngIf="userLogged.role!='2' && userLogged.role!='1'">
        <a class="nav-link text-white" [routerLink]="['/empresa']" [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-building"></i>&nbsp;Registro Empresas
        </a>
      </li>
      <!--Registro Postulantes-->
      <li class="nav-item dropdown pretty-button" *ngIf="userLogged.role!='1' && userLogged.role!='2'">
        <a class="nav-link text-white" [routerLink]="['/persona']" [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-users"></i>&nbsp;Registro Profesionales
        </a>
      </li>

    </ul>
    <ul class="navbar-nav ml-auto">
      <!--Mi perfil-->
      <li class="nav-item dropdown " ngbDropdown *ngIf="userLogged.role=='1' || userLogged.role=='2'">
        <a href="javascript:void(0)" class="nav-link text-white" ngbDropdownToggle>
          <i>
            <img src="https://cdn2.iconfinder.com/data/icons/business-finance-vol-1-53/30/Untitled-1-10-512.png" class="rounded-circle"
                 style="width: 80px; height: 80px;" *ngIf="userLogged.role=='1'">
            <img src="https://cdn0.iconfinder.com/data/icons/business-381/500/business-work_11-512.png" class="rounded-circle"
                 style="width: 80px; height: 80px;" *ngIf="userLogged.role=='2'">
          </i> Mi Perfil
          <b class="caret"></b>
        </a>
        <div ngbDropdownMenu>
          <a *ngIf="userLogged.role=='1'" class="dropdown-item" [routerLink]="['/postulaciones']"
             [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-book"></i>&nbsp;Postulaciones
          </a>
          <a *ngIf="userLogged.role=='1'" class="dropdown-item" [routerLink]="['/hoja-vida']"
             [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-address-card"></i>&nbsp;Hoja de Vida
          </a>
          <a *ngIf="userLogged.role=='2'" class="dropdown-item" [routerLink]="['/perfil-empresa']"
             [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-address-card"></i>&nbsp;Mi Empresa
          </a>
          <div class="dropdown-divider"></div>
          <a *ngIf="userLogged.role=='1' || userLogged.role=='2'" class="dropdown-item" [routerLink]="['/account']"
             [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-wrench"></i>&nbsp;Cambiar Clave
          </a>
          <a *ngIf="userLogged.role=='2' || userLogged.role=='1'" class="dropdown-item"
             [routerLink]="['/perfil-empresa']" [routerLinkActive]="['router-link-active']" (click)="logout()">
            <i class="fa fa-fw fa-power-off"></i>&nbsp;Cerrar Sesión
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
