<nav class="navbar navbar-expand-lg fixed-top headerSecction">
  <div class="navbar-brand">
    <a href="postulantes">
      <img src="assets/img/institutos.png" height="90px"/>
    </a>
  </div>
  <div class="navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle style="color:white;">
          <i>
            <img src="{{authService.usuarioNegocio.fotografia}}" class="rounded-circle"
                 style="width: 70px; height: 70px;">
          </i>&nbsp;{{authService.displayNameOrEmail()}}
          <b class="caret"></b>
        </a>
        <div ngbDropdownMenu>
          <a *ngIf="authService.rolActual=='p'" class="dropdown-item" [routerLink]="['/postulaciones']"
             [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-book"></i>&nbsp;Mis Postulaciones
          </a>
          <a *ngIf="authService.rolActual=='p'" class="dropdown-item" [routerLink]="['/hoja-vida']"
             [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-address-card"></i>&nbsp;Hoja de Vida
          </a>
          <a *ngIf="authService.rolActual=='e'" class="dropdown-item" [routerLink]="['/perfil-empresa']"
             [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-address-card"></i>&nbsp;Perfil de mi Empresa
          </a>
          <a *ngIf="authService.rolActual=='e' || authService.rolActual=='p'" class="dropdown-item"
             (click)="cerrarSesion()">
            <i class="fa fa-fw fa-power-off"></i>&nbsp;Cerrar Sesión
          </a>
          <a *ngIf="authService.rolActual!='e' && authService.rolActual!='p' " class="dropdown-item"
             [routerLink]="['/login']" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-sign-in"></i>&nbsp;Iniciar Sesión
          </a>
        </div>
      </li>
    </ul>
    <ul class="navbar-nav mr-auto">
      <div class="row" style="color:white;">
        <div class="col-4">
          <div class="cool-facts-content">
            <h3>
              <i class="fa fa-building mb-2"> {{contadorEmpresas}}</i>
            </h3>
            <h6> EMPRESAS REGISTRADAS</h6>
          </div>
        </div>
        <div class="col-4">
          <div class="cool-facts-content">
            <h3>
              <i class="fa fa-users mb-2">
                {{contadorPostulantes}}
              </i>
            </h3>
            <h6>PROFESIONALES VINCULADOS</h6>
          </div>
        </div>
        <div class="col-4">
          <div class="cool-facts-content">
            <h3>
              <i class="fa fa-briefcase mb-2">
                {{contadorOfertas}}
              </i>
            </h3>
            <h6>OFERTAS LABORALES</h6>
          </div>
        </div>
      </div>
    </ul>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item dropdown pretty-button" ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle style="color:white;">
          <i class="fa fa-fw fa-search"></i>&nbsp;Buscador
        </a>
        <div ngbDropdownMenu>
          <a class="dropdown-item" [routerLink]="['/postulantes']" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-users"></i>&nbsp;Talento Humano
          </a>
          <a class="dropdown-item" [routerLink]="['/empresas']" [routerLinkActive]="['router-link-active']">
            <i class="fa fa-fw fa-briefcase"></i>&nbsp;Ofertas Laborales
          </a>
        </div>
      </li>
      <li>
        <a *ngIf="authService.rolActual!='e' && authService.rolActual!='p' " class="nav-link pretty-button"
           [routerLink]="['/login']" [routerLinkActive]="['router-link-active']">
          <i class="fa fa-fw fa-sign-in"></i>&nbsp;Iniciar Sesión
        </a>
      </li>
      <li *ngIf="authService.rolActual!='e' && authService.rolActual!='p' " class="nav-item dropdown pretty-button"
          ngbDropdown>
        <a href="javascript:void(0)" class="nav-link" ngbDropdownToggle style="color:white;">
          <i class="fa fa-fw fa-address-book"></i>&nbsp;Regístrate
        </a>
        <div ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/persona">
            <i class="fa fa-fw fa-users"></i>&nbsp;Postulantes
          </a>
          <a class="dropdown-item" routerLink="/empresa">
            <i class="fa fa-fw fa-building"></i>&nbsp;Empresas
          </a>
        </div>
      </li>
    </ul>
  </div>
</nav>
