<div class="row m-1">
  <div class="col-12">
    <div class="row m-1">
      <div class="col-2 offset-10">
      </div>
    </div>
    <div class="row ml-1">
      <div class="col-12">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <button type="button" class="page-link" (click)="paginate(false)" [disabled]="flagPagination">
                {{messages['bottomPaginationNext']['text']}}
              </button>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)">{{actual_page}} de {{total_pages}}</a>
            </li>
            <li class="page-item">
              <button type="button" class="page-link" (click)="paginate(true)" [disabled]="flagPagination">
                {{messages['bottomPaginationBack']['text']}}
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-12">
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-default text-center">
          <th width="35%">Categoria</th>
          <th width="65%">Descripción</th>
          <th>
            <button class="btn btn-success"
                    (click)="open(content, selectedAbility, false)">
              <span class="{{messages['bottomAdd']['icon']}}"> {{messages['bottomAdd']['text']}}</span>
            </button>
          </th>
          </thead>
          <tbody>
          <tr *ngFor="let item of abilities">
            <td>{{item.category}}</td>
            <td>{{item.description}}</td>
            <td class="text-center">
              <button class="btn btn-warning btn-sm text-white" (click)="open(content,item,true)"><span
                class="{{messages['bottomUpdate']['icon']}}"></span></button>
              <button class="btn btn-danger ml-1 btn-sm" (click)="deleteAbility(item)"><span
                class="{{messages['bottomDelete']['icon']}}"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <form name="empresaform" method="post" #formCtrl="ngForm">
    <div class="modal-header">
      <div class="row">
        <h4 class="col-12 text-center" name="titulo">Fortaleza:</h4>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label>
              <b class="text-danger">*</b> Categoria:
            </label>
            <select class="form-control" [(ngModel)]="selectedAbility.category" id="category" name="category"
                    required>
              <option value="" selected>SELECCIONE...</option>
              <option *ngFor="let item of categorias" value="{{item.descripcion}}">{{item.descripcion}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>
              <b class="text-danger">*</b> Descripción:
            </label>
            <textarea type="text" [(ngModel)]="selectedAbility.description" class="form-control"
                      id="description" name="description" placeholder="" required rows="10"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <h6 class="text-muted">
        <b class="text-danger">{{messages['requiredFields']['icon']}} </b>
        {{messages['requiredFields']['text']}}
      </h6>
      <button class="btn btn-success" (click)="c('save')" [disabled]="formCtrl.form.invalid">
        <span class="{{messages['saveConfirmationDialog']['iconOk']}}"></span>&nbsp;{{messages['saveConfirmationDialog']['ok']}}
      </button>
      <button class="btn btn-danger" (click)="c('close')">
        <span class="{{messages['saveConfirmationDialog']['iconCancel']}}"></span>&nbsp;{{messages['saveConfirmationDialog']['cancel']}}
      </button>
    </div>
  </form>
</ng-template>
