<div class="col-12 mt-2">
  <div class="row">
    <button class="btn btn-success m-2" (click)="open(content, estudioRealizado, false)">
      <span class="fa fa-plus-circle"></span>&nbsp;Agregar
    </button>
  </div>
  <div class="row">
    <div class="col-12 card mt-3">
      <div class="row">
        <div class="col-12">
          <h4 class="col-12 text-center">Fortaleza / Habilidad / Destreza</h4>
        </div>
        <div class="col-12">
          <table class="table table-bordered table-hover">
            <thead class="table-active">
            <th>Categoria</th>
            <th>Descripción</th>
            <th width="100px">Opciones</th>
            </thead>
            <tbody>
            <tr *ngFor="let item of postulanteService.postulante.fortalezas">
              <td>{{item.nombre}}</td>
              <td>{{item.descripcion}}</td>
              <td>
                <button class="btn btn-warning btn-sm" (click)="open(content,item,true)"><span
                  class="fa fa-edit"></span></button>
                <button class="btn btn-danger ml-1 btn-sm" (click)="borrar(item)"><span class="fa fa-trash"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="row">
      <h4 class="col-12 text-center">Fortaleza / Habilidad / Destreza</h4>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="nombre">Categoria</label>
          <select type="text" [(ngModel)]="fortaleza.nombre" class="form-control" id="nombre" placeholder="Nombre">
            <option value="">SELECCIONE...</option>
            <option value="ARTES">ARTES</option>
            <option value="DEPORTES">DEPORTES</option>
            <option value="BAILE">BAILE</option>
          </select>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="descripcion">Descripción</label>
          <textarea type="text" [(ngModel)]="fortaleza.descripcion" class="form-control" id="descripcion" rows="10"
                    placeholder="Un Deporte: Tengo varios El fútbol, gimnasio, la natación y el rugby."></textarea>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="c('save')">
      <span class="fa fa-check"></span>&nbsp;Aceptar
    </button>
    <button class="btn btn-danger" (click)="c('close')">
      <span class="fa fa-close"></span>&nbsp;Cancelar
    </button>
  </div>
</ng-template>
