<div class="col-12">
  <div class="col-12">
    <div class="row">
      <div class="col-12">
        <h3 class="col-12 text-center">Hoja de Vida</h3>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h4 class="col-12 seccion">Datos Personales</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-1"></div>
      <div class="col-3">
        <div class="row">
          <div class="col-12">
            <div class="form-group">

            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mt-3 text-center">
            <img src="{{srcFoto}}" class="rounded-circle col-8" (click)="fileInput.click()">
          </div>
        </div>
      </div>
      <div class="col-7">
        <table class="col-12 table-sm">
          <tr>
            <th class="text-right">
              Nombre Completo:
            </th>
            <td>
              Luis Alfonso Salazar Vaca
            </td>
          </tr>
          <tr>
            <th class="text-right">
              Identificación:
            </th>
            <td>
              1720364049
            </td>
          </tr>
          <tr>
            <th class="text-right">
              Estado Civil:
            </th>
            <td>
              Casado
            </td>
          </tr>
          <tr>
            <th class="text-right">
              Fecha de Nacimiento:
            </th>
            <td>
              15-Septiembre-1986
            </td>
          </tr>
          <tr>
            <th class="text-right">
              Nacionalidad:
            </th>
            <td>
              Ecuatoriano
            </td>
          </tr>
          <tr>
            <th class="text-right">
              Domicilio:
            </th>
            <td>
              De Los Robles E14-16 y De Los Cardos
            </td>
          </tr>
          <tr>
            <th class="text-right">
              Correo Electrónico:
            </th>
            <td>
              luissalazarvaca1986@gmail.com
            </td>
          </tr>
          <tr>
            <th class="text-right">
              Teléfono:
            </th>
            <td>
              0998600661
            </td>
          </tr>
        </table>
      </div>
      <div class="col-1"></div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h4 class="col-12 seccion">Estudios Realizados</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-sm">
          <thead>
            <th>Institución</th>
            <th>Nivel</th>
            <th>Título</th>
            <th>Fecha de Registro</th>
            <th>Código de Registro SENESCYT</th>
          </thead>
          <tbody>
            <tr >
              <td>Institución</td>
              <td>Nivel</td>
              <td>Título</td>
              <td>Fecha de Registro</td>
              <td>Código de Registro SENESCYT</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h4 class="col-12 seccion">Capacitación y Cursos</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-sm">
          <thead>
            <th>Institución</th>
            <th>Tipo de Evento</th>
            <th>Nombre del Evento</th>
            <th>Tipo de Certificado</th>
            <th>Desde</th>
            <th>Hasta</th>
            <th>Horas</th>
          </thead>
          <tbody>
            <tr >
              <td>Institución</td>
              <td>Tipo de Evento</td>
              <td>Nombre del Evento</td>
              <td>Tipo de Certificado</td>
              <td>Desde</td>
              <td>Hasta</td>
              <td>Horas</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h4 class="col-12 seccion">Idiomas</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-sm">
          <thead>
            <th>Idioma</th>
            <th>Nivel Escrito</th>
            <th>Nivel Hablado</th>
            <th>Nivel Lectura</th>
          </thead>
          <tbody>
            <tr >
              <td>Idioma</td>
              <td>Nivel Escrito</td>
              <td>Nivel Hablado</td>
              <td>Nivel Lectura</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h4 class="col-12 seccion">Experiencia Profesional</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-sm">
          <thead>
            <th>Empleador</th>
            <th>Cargo Desempeñado</th>
            <th>Descripción del Cargo</th>
            <th>Fecha de Inicio</th>
            <th>Fecha de Salida</th>
          </thead>
          <tbody>
            <tr >
              <td>Empleador</td>
              <td>Cargo Desempeñado</td>
              <td>Descripción del Cargo</td>
              <td>Fecha de Inicio</td>
              <td>Fecha de Salida</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h4 class="col-12 seccion">Fortalezas</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-sm">
          <thead>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Nivel</th>
            <th>Opciones</th>
          </thead>
          <tbody>
            <tr >
              <td>Nombre</td>
              <td>Descripción</td>
              <td>Nivel</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h4 class="col-12 seccion">Referencias Personales</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <table class="table table-sm">
          <thead>
            <th>Nombres y Apellidos</th>
            <th>Cargo</th>
            <th>Empresa</th>
            <th>Teléfono</th>
          </thead>
          <tbody>
            <tr >
              <td>Nombres y Apellidos</td>
              <td>Cargo</td>
              <td>Empresa</td>
              <td>Teléfono</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
