<div class="col-12">
  <div class="col-12 mt-2 mb-2">
    <div class="col-12" style="background: white; border: 1px #D3D3D3 solid; box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);">
      <div class="col-12 mt-4" #encabezadoHojaVida>
        <div class="row">
          <div class="col-12 text-right">
              <img src="assets/img/logo-saber-hacer_2.png" style="height: 75px; width: auto;">
          </div>
        </div>
      </div>
      <div class="col-12" #cuerpoHojaVida>
        <div class="row">
          <div class="col-12">
            <h3 class="col-12 text-center">Hoja de Vida</h3>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <h4 class="col-12 seccion">Datos Personales</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-1"></div>
          <div class="col-4">
            <div class="row">
              <div class="col-12">
                <div class="form-group">

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3 text-center">
                <img src="{{postulanteService.postulante.fotografia}}" class="rounded-circle col-8">
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="col-12" style="height: 40px;"></div>
            <table class="col-12 table-sm">
              <tr>
                <th class="text-right">
                  Nombre Completo:
                </th>
                <td>
                  {{postulanteService.postulante.nombreCompleto}}
                </td>
              </tr>
              <tr>
                <th class="text-right">
                  Identificación:
                </th>
                <td>
                  {{postulanteService.postulante.identificacion}}
                </td>
              </tr>
              <tr>
                <th class="text-right">
                  Estado Civil:
                </th>
                <td>
                  {{postulanteService.postulante.estadoCivil}}
                </td>
              </tr>
              <tr>
                <th class="text-right">
                  Fecha de Nacimiento:
                </th>
                <td>
                  {{postulanteService.postulante.fechaDeNacimiento.day}} de {{meses[postulanteService.postulante.fechaDeNacimiento.month-1]}} del {{postulanteService.postulante.fechaDeNacimiento.year}}
                </td>
              </tr>
              <tr>
                <th class="text-right">
                  Nacionalidad:
                </th>
                <td>
                  {{postulanteService.postulante.nacionalidad}}
                </td>
              </tr>
              <tr>
                <th class="text-right">
                  Domicilio:
                </th>
                <td>
                  {{postulanteService.postulante.direccion}}
                </td>
              </tr>
              <tr>
                <th class="text-right">
                  Correo Electrónico:
                </th>
                <td>
                  {{postulanteService.postulante.correoElectronico}}
                </td>
              </tr>
              <tr>
                <th class="text-right">
                  Teléfono:
                </th>
                <td>
                  {{postulanteService.postulante.telefono}}
                </td>
              </tr>
            </table>
          </div>
          <div class="col-1"></div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <h4 class="col-12 seccion">Estudios Realizados</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-sm">
              <thead>
                <th>Institución</th>
                <th>Tipo de Título</th>
                <th>Título</th>
                <th>Fecha de Registro</th>
                <th>Código de Registro SENESCYT</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of postulanteService.postulante.estudiosRealizados">
                  <td>{{item.institucion}}</td>
                  <td>{{item.tipo_titulo}}</td>
                  <td>{{item.titulo}}</td>
                  <td>{{item.fechaRegistro.year}}/{{item.fechaRegistro.month}}/{{item.fechaRegistro.day}}</td>
                  <td>{{item.codigoRegistroSENESCYT}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <h4 class="col-12 seccion">Capacitación y Cursos</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-sm">
              <thead>
                <th>Institución</th>
                <th>Tipo de Evento</th>
                <th>Nombre del Evento</th>
                <th>Tipo de Certificado</th>
                <th>Desde</th>
                <th>Hasta</th>
                <th>Horas</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of postulanteService.postulante.capacitaciones">
                  <td>{{item.institucion}}</td>
                  <td>{{item.tipoEvento}}</td>
                  <td>{{item.nombreEvento}}</td>
                  <td>{{item.tipoCertificado}}</td>
                  <td>{{item.fechaInicio.year}}/{{item.fechaInicio.month}}/{{item.fechaInicio.day}}</td>
                  <td>{{item.fechaFinalizacion.year}}/{{item.fechaFinalizacion.month}}/{{item.fechaFinalizacion.day}}</td>
                  <td>{{item.horas}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <h4 class="col-12 seccion">Idiomas</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-sm">
              <thead>
                <th>Idioma</th>
                <th>Nivel Escrito</th>
                <th>Nivel Hablado</th>
                <th>Nivel Lectura</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of postulanteService.postulante.idiomas">
                  <td>{{item.idioma}}</td>
                  <td>{{item.nivelEscrito}}</td>
                  <td>{{item.nivelHablado}}</td>
                  <td>{{item.nivelLectura}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <h4 class="col-12 seccion">Experiencia Profesional</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-sm">
              <thead>
                <th>Empleador</th>
                <th>Cargo Desempeñado</th>
                <th>Descripción del Cargo</th>
                <th>Fecha de Inicio</th>
                <th>Fecha de Salida</th>
                <th>Actual</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of postulanteService.postulante.experienciasLaborales">
                  <td>{{item.empleador}}</td>
                  <td>{{item.cargoDesempenado}}</td>
                  <td><p class="text-justify">{{item.descripcionCargo}}</p></td>
                  <td>{{item.fechaInicio.year}}/{{item.fechaInicio.month}}/{{item.fechaInicio.day}}</td>
                  <td *ngIf="item.actualmenteVigente"></td>
                  <td *ngIf="!item.actualmenteVigente">{{item.fechaFinalizacion.year}}/{{item.fechaFinalizacion.month}}/{{item.fechaFinalizacion.day}}</td>
                  <td><div class="col-12 text-center" *ngIf="item.actualmenteVigente"><span class="badge badge-success">Actual</span> </div></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <h4 class="col-12 seccion">Fortalezas</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-sm">
              <thead>
                <th>Nombre</th>
                <th>Descripción</th>
                <th>Nivel</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of postulanteService.postulante.fortalezas">
                  <td>{{item.nombre}}</td>
                  <td>{{item.descripcion}}</td>
                  <td>{{item.nivel}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-12">
            <h4 class="col-12 seccion">Referencias Personales</h4>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <table class="table table-sm">
              <thead>
                <th>Nombres y Apellidos</th>
                <th>Cargo</th>
                <th>Empresa</th>
                <th>Teléfono</th>
              </thead>
              <tbody>
                <tr *ngFor="let item of postulanteService.postulante.referenciasPersonales">
                  <td>{{item.nombresApellidos}}</td>
                  <td>{{item.cargo}}</td>
                  <td>{{item.empresa}}</td>
                  <td>{{item.telefono}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-12" #pieHojaVida>
        <div class="row">
          <div class="col-12">

          </div>
        </div>
      </div>
    </div>
  </div>`

  <div class="col-12 m-2 text-center">
    <button type="submit" class="btn btn-primary" (click)="imprimir()">
      <span class="fa fa-print"></span>&nbsp;Imprimir
    </button>
  </div>
</div>
