<div class="row mt-2">
  <div class="col-12">
    <button type="button" class="btn btn-success pull-right mr-4"
            (click)="openOfertaLaboral(modalOfertaLaboral,null,false)">
      <i class="fa fa-plus-circle fa-lg" aria-hidden="true"></i>
      Agregar
    </button>
  </div>
</div>
<hr>
<!--Grid Ofertas-->
<div class="row m-2">
  <div class="col-12">
    <div class="row" style="margin-top:15px">
      <div class="col-lg-12">
        <table class="table table-hover table-bordered">
          <thead class="thead table-active">
          <tr>
            <th width="10%">
              Código
            </th>
            <th width="20%">
              Cargo
            </th>
            <th width="30%">
              Actividades
            </th>
            <th width="10%" scope="col" class="text-center">
              <i class="fa fa-wrench fa-lg" aria-hidden="true"></i>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let oferta of ofertaService.ofertas">
            <td>
              {{oferta.codigo}}
            </td>
            <td>
              {{oferta.cargo}}
            </td>
            <td>
              {{oferta.actividades}}
            </td>
            <td class="text-center">
              <button class="btn btn-warning btn-sm" (click)="openOfertaLaboral(modalOfertaLaboral,oferta,true)">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button>
              <button class="btn btn-danger btn-sm ml-1" (click)="borrar(oferta)">
                <i class="fa fa-trash" aria-hidden="true"></i>
              </button>
              <button class="btn btn-info btn-sm ml-1" (click)="openPostulantes(modalPostulantes)">
                <i class="fa fa-users" aria-hidden="true"></i>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<ng-template #modalOfertaLaboral let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">

    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('ClickEnX')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-lg">
    <div class="card">
      <div class="card-header bg-primary">
        <h3 class="text-white">Oferta Laboral</h3>

      </div>
      <div class="card-body m-1">
        <div class="row">
          <div class="col-lg-6">
            <!-- Codigo !-->
            <div class="form-group">
              <label for="editCodigo" class="col-form-label">
                Código:
              </label>
              <input class="form-control text-uppercase" name="codigo" id="editCodigo" [(ngModel)]="oferta.codigo"
                     placeholder="Código de la oferta">
            </div>

            <!-- Cargo !-->
            <div class="form-group">
              <label for="editCargo" class="col-form-label ">
                Cargo:
              </label>
              <input class="form-control text-uppercase" name="cargo" id="editCargo" [(ngModel)]="oferta.cargo"
                     placeholder="Nomre del puesto de trabajo">
            </div>

            <!-- Ciudad !-->
            <div class="form-group ">
              <label for="idCIudad" class="col-form-label">
                Ciudad:
              </label>
              <select class="form-control" name="idCIudad" id="editCiudad" [(ngModel)]="oferta.ciudad">
                <option value="">
                  SELECCIONE...
                </option>
                <option value="Quito">
                  Quito
                </option>
              </select>
            </div>

            <!-- Inicio Publicacion !-->
            <div class="form-group datepicker-input">
              <label for="editInicioPublicacion" class="col-form-label">
                Inicio Publicación:
              </label>
              <div class="input-group datepicker-input">
                <input [(ngModel)]="oferta.inicioPublicacion" class="form-control" id="editInicioPublicacion"
                       placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d1="ngbDatepicker">
                <button class="input-group-addon" (click)="d1.toggle()" type="button">
                  <span class="fa fa-calendar"></span>
                </button>
              </div>
            </div>

            <!-- Fin Publicacion !-->
            <div class="form-group datepicker-input">
              <label for="editFinPublicacion" class="col-form-label">
                Fin Publicación:
              </label>
              <div class="input-group datepicker-input">
                <input [(ngModel)]="oferta.finPublicacion" class="form-control" id="editFinPublicacion"
                       placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d2="ngbDatepicker">
                <button class="input-group-addon" (click)="d2.toggle()" type="button">
                  <span class="fa fa-calendar"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Contacto !-->
            <div class="form-group">
              <label for="editContacto" class="col-form-label">
                Contacto:
              </label>
              <input class="form-control text-uppercase" id="editContacto" [(ngModel)]="oferta.contacto"
                     placeholder="Nombres y Apellidos">
            </div>

            <!-- Correo Electronico !-->
            <div class="form-group ">
              <label for="editCorreoElectronico" class="col-form-label">
                Correo:
              </label>
              <input type="email" class="form-control text-lowercase" id="editCorreoElectronico"
                     [(ngModel)]="oferta.correoElectronico" placeholder="Correo Electrónico">
            </div>

            <!-- Telefono Fijo !-->
            <div class="form-group ">
              <label for="editTelefonoFijo" class="col-form-label">
                Teléfono Fijo:
              </label>
              <input type="number" class="form-control" id="editTelefonoFijo" [(ngModel)]="oferta.telefonoFijo"
                     placeholder="Ej. 023545432">
            </div>

            <!-- Telefono Celular !-->
            <div class="form-group ">
              <label for="editTelefonoCelular" class="col-form-label">
                Teléfono Celular:
              </label>
              <input type="number" class="form-control" id="editTelefonoCelular"
                     [(ngModel)]="oferta.telefonoCelular" placeholder="Ej. 0987654321">
            </div>

            <!-- Tipo Contrato !-->
            <div class="form-group ">
              <label for="editTipoContrato" class="col-form-label">
                Tipo Contrato:
              </label>
              <select class="form-control" id="editTipoContrato" [(ngModel)]="oferta.tipoContrato">
                <option value="">SELECCIONE...</option>
                <option value="Ocasional">Ocasional</option>
                <option value="Tiempo Completo">Tiempo Completo</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="card">
      <div class="card-header bg-info">
        <h3 class="text-white">Perfil del Cargo</h3>
      </div>
      <div class="card-body  m-1">
        <div class="row">
          <div class="col-lg-6">
            <!-- Campo Amplio !-->
            <div class="form-group ">
              <label for="campoAmplio" class="col-form-label">
                Campo Amplio:
              </label>
              <select class="form-control" id="campoAmplio"
                      [(ngModel)]="oferta.campoAmplio" (change)="filtrarCamposEspecificos(oferta.campoAmplio)">
                <option value="">SELECCIONE...</option>
                <option *ngFor="let campoAmplio of areas">
                  {{campoAmplio.campo_amplio}}
                </option>
              </select>
            </div>
            <!-- Campo Especficio!-->
            <div class="form-group ">
              <label for="campoEspecifico" class="col-form-label">
                Campo Específico:
              </label>
              <select class="form-control" id="campoEspecifico"
                      [(ngModel)]="oferta.campoEspecifico">
                <option value="">SELECCIONE...</option>
                <option *ngFor="let campoEspecifico of camposEspecificos">
                  {{campoEspecifico.nombre}}
                </option>
              </select>
            </div>
            <!-- Horas de Capacitacion !-->
            <div class="form-group ">
              <label for="horasCapacitacion" class="col-form-label">
                Horas de Capacitación:
              </label>
              <select class="form-control" id="horasCapacitacion"
                      [(ngModel)]="oferta.horasCapacitacion" placeholder="Horas de Capacitación">
                <option value="">SELECCIONE...</option>
                <option value="NINGUNA">NINGUNA</option>
                <option value="0 - 40">0 - 40</option>
                <option value="41 - 120">41 - 120</option>
                <option value="121 - 150">121 - 150</option>
                <option value="151 - 200">151 - 200</option>
                <option value="MÁS DE 200">MÁS DE 200</option>
              </select>
            </div>
            <!-- Numero de Puestos !-->
            <div class="form-group ">
              <label for="numeroPuestos" class="col-form-label">
                Puestos:
              </label>
              <input type="number" min="1" class="form-control" id="numeroPuestos" [(ngModel)]="oferta.numeroPuestos"
                     placeholder="# de puestos a ofertar">
            </div>
            <!-- Informacion Adicional !-->
            <div class="form-group ">
              <label for="informacionAdicional" class="col-form-label">
                Información Adicional:
              </label>
              <textarea class="form-control text-uppercase" id="informacionAdicional"
                        [(ngModel)]="oferta.informacionAdicional" placeholder="Información Adicional"></textarea>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Remuneracion !-->
            <div class="form-group ">
              <label for="remuneracion" class="col-form-label">
                Remuneración:
              </label>
              <select class="form-control" id="remuneracion" [(ngModel)]="oferta.remuneracion"
                      placeholder="Remuneración">
                <option value="">SELECCIONE...</option>
                <option value="SALARIO BÁSICO">MENOS DE $400</option>
                <option value="SALARIO BÁSICO">$400 - $600</option>
                <option value="SALARIO BÁSICO">$601 - $800</option>
                <option value="SALARIO BÁSICO">$801 - $900</option>
                <option value="SALARIO BÁSICO">$901 - $1000</option>
                <option value="SALARIO BÁSICO">$901 - $1100</option>
                <option value="SALARIO BÁSICO">$1101 - $1400</option>
                <option value="SALARIO BÁSICO">$1401 - $1800</option>
                <option value="SALARIO BÁSICO">MÁS DE $1800</option>
              </select>
            </div>
            <!-- Tiempo Experiencia!-->
            <div class="form-group ">
              <label for="experiencia" class="col-form-label">
                Tiempo Experiencia:
              </label>
              <select class="form-control" id="experiencia" [(ngModel)]="oferta.tiempoExperiencia"
                      placeholder="Tiempo de Experiencia">
                <option value="">SELECCIONE...</option>
                <option value="MENOS DE 1 AÑO">MENOS DE 1 AÑO</option>
                <option value="1 AÑO - 2 AÑOS">1 AÑO - 2 AÑOS</option>
                <option value="2 AÑOS - 3 AÑOS">2 AÑOS - 3AÑOS</option>
                <option value="MÁS DE 3 AÑOS">MÁS DE 3AÑOS</option>
              </select>
            </div>
            <!-- Jornada !-->
            <div class="form-group ">
              <label for="jornada" class="col-form-label">
                Jornada:
              </label>
              <select class="form-control" id="jornada" [(ngModel)]="oferta.jornada" placeholder="Jornada">
                <option value="">SELECCIONE...</option>
                <option value="COMPLETA">COMPLETA</option>
                <option value="PARCIAL">PARCIAL</option>
              </select>
            </div>
            <!-- Actividades !-->
            <div class="form-group ">
              <label for="actividades" class="col-form-label">
                Actividades:
              </label>
              <textarea class="form-control text-uppercase" id="actividades" [(ngModel)]="oferta.actividades"
                        placeholder="Actividades que va a desarrollar en su puesto de trabajo"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-lg" title="Aplicar" (click)="c('save')">
      <i class="fa fa-save" aria-hidden="true"> Guardar Cambios</i>
    </button>
    <button class="btn btn-danger btn-lg" title="Cancelar" (click)="c('close')">
      <i class="fa fa-close" aria-hidden="true"> Cancelar</i>
    </button>
  </div>
</ng-template>

<ng-template #modalFiltroOferta let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">

    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('ClickEnX')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-lg">
    <div class="card">
      <div class="card-header bg-warning">
        <h3 class="text-white">
          <i class="fa fa-filter" aria-hidden="true"> Filtrar</i>
        </h3>
      </div>
      <div class="card-body m-1">
        <div class="row">
          <div class="col-lg-12">
            <!-- Codigo !-->
            <div class="form-group">
              <label for="codigo" class="col-form-label">
                Código:
              </label>
              <input class="form-control" name="codigo" id="codigo">
            </div>

            <!-- Cargo !-->
            <div class="form-group">
              <label for="cargo" class="col-form-label">
                Cargo:
              </label>
              <input class="form-control" name="cargo" id="cargo">
            </div>

            <!-- Ciudad !-->
            <div class="form-group ">
              <label for="idCIudad" class="col-form-label">
                Ciudad:
              </label>
              <select class="form-control" name="idCIudad" id="idCiudad">
                <option value="1">
                  Quito
                </option>
              </select>
            </div>

            <!-- Inicio Publicacion !-->
            <div class="form-group ">
              <label for="inicioPublicacion" class="col-form-label">
                Inicio Publicación:
              </label>
              <input type="date" class="form-control" name="inicioPublicacion"
                     id="inicioPublicacion">
            </div>

            <!-- Fin Publicacion !-->
            <div class="form-group ">
              <label for="finPublicacion" class="col-form-label">
                Fin Publicación:
              </label>
              <input type="date" class="form-control" name="finPublicacion" id="finPublicacion">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-lg" title="Aplicar">
      <i class="fa fa-check" aria-hidden="true"> Aplicar</i>
    </button>
    <button class="btn btn-danger btn-lg" title="Cancelar">
      <i class="fa fa-close" aria-hidden="true"> Limpiar</i>
    </button>
  </div>
</ng-template>

<ng-template #modalPostulantes let-c="close" let-d="dismiss">
  <div class="modal-header  bg-info text-white">
    <h4 class="modal-title">
      <i class="fa fa-users" aria-hidden="true"> Postulantes</i>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('ClickEnX')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-lg">
    <div class="row" style="margin-top:15px">
      <div class="col-lg-12">
        <table class="table table-hover table-bordered">
          <thead class="thead table-active">
          <tr>
            <th width="40%">
              Postulantes
            </th>
            <th width="20%">
              Teléfono
            </th>
            <th width="30%">
              Correo Electrónico
            </th>
            <th width="10%" scope="col" class="text-center">
              <i class="fa fa-wrench fa-lg" aria-hidden="true"></i>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let oferta of ofertaService.ofertas">
            <td>
              {{oferta.actividades}}
            </td>
            <td>
              {{oferta.actividades}}
            </td>
            <td>
              {{oferta.actividades}}
            </td>
            <td class="text-center">
              <form action="hoja-vida-pdf" method="post">
                <a type="submit" target="_blank" class="btn btn-info btn-sm" href="curriculum">
                  <i class="fa fa-address-card" aria-hidden="true"></i>
                  <input type="text" value="123" hidden>
                </a>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-lg" title="Aplicar">
      <i class="fa fa-close" aria-hidden="true" (click)="c('cancel')"> Cerrar</i>
    </button>
  </div>
</ng-template>
<!--
<div class="row m-2">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h1>Desarrollador de Software</h1>
      </div>
      <div class="card-body">
        <h5 class="card-title">Ofer 001</h5>
        <div class="form-group">
          <div class="input-group">
            <label for="cargo" class="input-group-prepend col-lg-2"><b>Código:</b></label>
            <input id="cargo" class="form-control col-lg-10" value="Ofer 001">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label for="cargo" class="input-group-prepend col-lg-2"><b>Cargo:</b></label>
            <input id="actividades" class="form-control"
                   value="Desarrollar Software de alta calidad, Administrar Base de Datos">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label for="cargo" class="input-group-prepend col-lg-2"><b>Remuneración:</b></label>
            <input id="remuneracion" class="form-control" value="$300 - 400">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label for="cargo" class="input-group-prepend col-lg-2"><b>Ciudad:</b></label>
            <input id="ciudad" class="form-control" value="Quito">
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        <div class="form-group">
          <button href="#" class="btn btn-warning">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Editar
          </button>
          <button href="#" class="btn btn-danger">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            Eliminar
          </button>
          <button href="#" class="btn btn-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
            Postulaciones
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        <h1>Desarrollador de Software</h1>
      </div>
      <div class="card-body">
        <h5 class="card-title">Ofer 001</h5>
        <div class="form-group">
          <div class="input-group">
            <label for="cargo" class="input-group-prepend col-lg-2"><b>Código:</b></label>
            <input id="cargo" class="form-control col-lg-10" value="Ofer 001">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label for="cargo" class="input-group-prepend col-lg-2"><b>Cargo:</b></label>
            <input id="actividades" class="form-control"
                   value="Desarrollar Software de alta calidad, Administrar Base de Datos">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label for="cargo" class="input-group-prepend col-lg-2"><b>Remuneración:</b></label>
            <input id="remuneracion" class="form-control" value="$300 - 400">
          </div>
        </div>
        <div class="form-group">
          <div class="input-group">
            <label for="cargo" class="input-group-prepend col-lg-2"><b>Ciudad:</b></label>
            <input id="ciudad" class="form-control" value="Quito">
          </div>
        </div>
      </div>
      <div class="card-footer text-muted">
        <div class="form-group">
          <button href="#" class="btn btn-warning">
            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            Editar
          </button>
          <button href="#" class="btn btn-danger">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            Eliminar
          </button>
          <button href="#" class="btn btn-info">
            <i class="fa fa-eye" aria-hidden="true"></i>
            Postulaciones
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
-->
