<div class="top-banner-div" style="background-image: url(assets/img/welcome-bg.png);">
  <h1 class="col-12 text-left titulo" style="color:white; font-size: 70px; font-weight: 700;">PROFESIONAL</h1>
</div>
<div class="container">
  <div class="card">
    <div class="card-body">
      <form name="postulanteform" method="post" #formCtrl="ngForm">
        <div class="row">
          <div class="col-lg-6">
            <!-- Identificacion !-->
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label for="identificacion" class="col-form-label">
                    <b class="text-danger">*</b> Identificación:
                  </label>
                  <input class="form-control" name="identificacion" id="identificacion"
                         [(ngModel)]="postulante.identificacion" placeholder="Ej. 1734839443" required>
                </div>
                <div class="col-6">
                  <label for="nacionalidad" class="col-form-label">
                    <b class="text-danger">*</b> Nacionalidad:
                  </label>
                  <select class="form-control" name="nacionalidad" id="nacionalidad"
                          [(ngModel)]="postulante.nacionalidad" required>
                    <option value="">SELECCIONE...</option>
                    <option value="{{nacionalidad.descripcion}}" *ngFor="let nacionalidad of nacionalidades">
                      {{nacionalidad.descripcion}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- nombreCompleto !-->
            <div class="form-group">
              <label for="nombreCompleto" class="col-form-label">
                <b class="text-danger">*</b> Nombre Completo:
              </label>
              <input class="form-control text-uppercase" name="nombreCompleto" id="nombreCompleto"
                     [(ngModel)]="postulante.nombreCompleto" placeholder="Apellidos y Nombres" required>
            </div>
            <!-- Estado civil !-->
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label for="estadoCivil" class="col-form-label">
                    <b class="text-danger">*</b> Estado civil:
                  </label>
                  <select [(ngModel)]="postulante.estadoCivil" class="form-control" id="estadoCivil" name="estadoCivil"
                          required>
                    <option value="" selected>SELECCIONE...</option>
                    <option value="{{estadoCivil.descripcion}}" *ngFor="let estadoCivil of estadosCiviles">
                      {{estadoCivil.descripcion}}
                    </option>
                  </select>
                </div>
                <div class="col-6">
                  <label for="fechaDeNacimiento" class="col-form-label">
                    <b class="text-danger">*</b> Fecha de Nacimiento:
                  </label>
                  <div class="input-group datepicker-input">
                    <input [(ngModel)]="postulante.fechaDeNacimiento" class="form-control" placeholder="yyyy-mm-dd"
                           name="dp" ngbDatepicker #d="ngbDatepicker" required readonly>
                    <button class="btn input-group-addon" (click)="d.toggle()" type="button">
                      <span class="fa fa-calendar"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <!-- Contraseña !-->
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label for="contrasena" class="col-form-label">
                    <b class="text-danger">*</b> Contraseña:
                  </label>
                  <div class="input-group">
                    <input type="password" class="form-control" name="contrasena" id="contrasena"
                           [(ngModel)]="contrasena" (keyup)="validarClave()" required>
                    <i class="fa fa-check btn-success btn-sm" aria-hidden="true"
                       *ngIf="claveValida"></i>
                    <i class="fa fa-close btn-danger btn-sm" aria-hidden="true"
                       *ngIf="!claveValida"></i>
                  </div>
                </div>
                <div class="col-6">
                  <label for="confirmar" class="col-form-label">
                    <b class="text-danger">*</b> Repetir Contraseña:
                  </label>
                  <div class="input-group">
                    <input type="password" class="form-control" name="confirmar" id="confirmar"
                           (keyup)="validarClaveConfirmacion()"
                           [(ngModel)]="confirmacion" required>
                    <i class="fa fa-check btn-success btn-sm" aria-hidden="true"
                       *ngIf="claveConfirmacionValida"></i>
                    <i class="fa fa-close btn-danger btn-sm" aria-hidden="true"
                       *ngIf="!claveConfirmacionValida"></i>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Telefono Celular !-->
            <div class="form-group">
              <div class="row">
                <div class="col-lg-6">
                  <label for="telefonoCelular" class="col-form-label">
                    <b class="text-danger">*</b> Teléfono:
                  </label>
                  <input type="tel" class="form-control" name="telefonoCelular" id="telefonoCelular"
                         [(ngModel)]="postulante.telefono" placeholder="Ej. 0987654321" required>
                </div>
                <div class="col-lg-6">
                  <label for="sexo" class="col-form-label">
                    <b class="text-danger">*</b> Sexo:
                  </label>
                  <select class="form-control" name="sexo" id="sexo"
                          [(ngModel)]="postulante.sexo" required>
                    <option value="">SELECCIONE...</option>
                    <option value="{{sexo.descripcion}}" *ngFor="let sexo of sexos">
                      {{sexo.descripcion}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <!-- Correo Electronico !-->
            <div class="form-group">
              <label for="correoElectronico" class="col-form-label">
                <b class="text-danger">*</b> Correo Electrónico:
              </label>
              <div class="input-group">
                <input type="email" class="form-control text-lowercase " name="correoElectronico"
                       id="correoElectronico" (keyup)="validarCorreoElectronico(postulante.correoElectronico)"
                       [(ngModel)]="postulante.correoElectronico" placeholder="Ej. contacto@gmail.com" required>

                <i class="fa fa-check btn-success btn-sm" aria-hidden="true"
                   *ngIf="correoValido"></i>
                <i class="fa fa-close btn-danger btn-sm" aria-hidden="true"
                   *ngIf="!correoValido"></i>
              </div>
            </div>
            <!-- Dirección -->
            <div class="form-group">
              <label for="direccion" class="col-form-label">
                <b class="text-danger">*</b> Dirección de Domicilio:
              </label>
              <textarea rows="5" class="form-control text-uppercase" name="direccion" id="direccion"
                        [(ngModel)]="postulante.direccion" required
                        placeholder="EJ. PROVINCIA, CANTÓN, CALLE PRINCIPAL, CALLE SECUNDARIA, NÚMERO DE CASA"></textarea>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-sm-12">
            <button type="submit" class="btn btn-primary mr-1" (click)="registrar()"
                    [disabled]="formCtrl.form.invalid">
              Regístrate
            </button>
            <h6 class="text-muted"><b class="text-danger">* </b>Todos los campos son obligatorios</h6>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
