<div class="row">
  <!--Menu lateral izquierdo Filtros-->
  <div class="col-3">
    <div class="row">
      <div class="col-12">
        <h6 class="bg-warning form-control titulo1">
          <i class="fa fa-filter" aria-hidden="true"></i>
          Filtros
        </h6>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div id="accordion" class="accordion" *ngFor="let item of areas">
          <div class="card">
            <a class="card-header collapsed" data-toggle="collapse" [href]="'#'+item.id">
                <span class="row" (click)="filterOffersSingle('broad_field',item.campo_amplio)">
                  <span class="col-lg-9 col-sm-12">
                    <a class="card-title campo-amplio">{{item.campo_amplio }}</a>
                  </span>
                  <span class="col-lg-3 col-sm-12 text-dark">
                    &nbsp;({{ item.total}})
                  </span>
                </span>
            </a>
            <div id="{{item.id}}" class="card-body collapse" data-parent="#accordion">
              <div class="panel-body">
                <table class="table">
                  <div *ngFor="let areaEspecifica of item.campos_especificos">
                    <!--<tr *ngIf="areaEspecifica.total">-->
                    <tr>
                      <td width="80%">
                        <a class="campo_especifico" href="javascript:void(0)"
                           (click)="filterOffersSingle('specific_field',areaEspecifica.nombre)">
                          {{areaEspecifica.nombre}}
                        </a>
                      </td>
                      <td width="20%">
                        <span class=" campo_especifico text-dark">&nbsp;({{ areaEspecifica.total}})</span>
                      </td>
                    </tr>
                  </div>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Ofertas de trabajo-->
  <div class="col-9">
    <!--Buscador-->
    <div class="row">
      <div class="col-12">
        <div class="input-group">
          <input type="text" class="form-control text-uppercase" placeholder="Buscar..." aria-label=""
                 aria-describedby="basic-addon1" [(ngModel)]="criterioBusqueda">
          <div class="input-group-append">
            <button class="btn btn-info" type="button" (click)="filterOffersField()">
              <span class="fa fa-search"></span>&nbsp;Buscar
            </button>
            <button class="btn btn-warning ml-1" type="button" (click)="openFilter(modalFilter)">
              <span class="fa fa-sliders"></span>&nbsp;Filtrar
            </button>
          </div>
        </div>
      </div>
    </div>
    <!--Etiquetas de Filtro-->
    <div class="row mt-2">
      <div class="col-12">
        <div class="form-group">
          <div class="input-group">
            <div *ngFor="let filter of filters" class="ml-2">
              <div *ngIf="filter && filter !=''">
                <label class="btn-link text-danger">
                  {{filter}}
                </label>
                <button type="button" class="input-group-prepend close" aria-label="Close"
                        (click)="cleanFilter(filter)">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
            </div>
            <div *ngIf="etiquetaPrincipal != null">
              <label class="btn-link text-danger">
                {{etiquetaPrincipal}}
              </label>
              <button type="button" class="input-group-prepend close" aria-label="Close"
                      (click)="cleanFilterSingle()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Grid de Ofertas-->
    <div class="row mt-3">
      <div class="col-12">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)" tabindex="-1" (click)="paginacion(false)">Previous</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="javascript:void(0)">{{actual_page}} de {{total_pages}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)" (click)="paginacion(true)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row" style="overflow: auto">
      <div class="col-lg-12">
        <div class="card mb-2" *ngFor="let ofertaActual of offers">
          <div class="card-header">
            <div class="row">
              <div class="col-lg-9 col-sm-12">
                <h6>
                  <div *ngIf="userLogged.role =='1';then thenBlock else elseBLock"></div>
                  <ng-template #thenBlock>
                    <a class="titulo1" href="javascript:void(0)" *ngIf="userLogged.role=='1'"
                       (click)="openOfertaLaboral(modalOfertaLaboral,ofertaActual,true)">
                      {{ofertaActual.position}}
                    </a>
                  </ng-template>
                  <ng-template #elseBLock>
                    <h6 class="titulo1" style="color: #007bff">{{ofertaActual.position}}</h6>
                  </ng-template>
                </h6>
                <h6 class="text-muted texto">
                  <i class="fa fa-map-marker" aria-hidden="true"></i>
                  {{ofertaActual.city+ ', ' +ofertaActual.province}}
                </h6>
              </div>
              <div class="col-lg-3 col-sm-12">
                <table>
                  <tbody>
                  <tr>
                    <th>
                      <i class="titulo1">Inicio Publicación:</i>&nbsp;
                    </th>
                    <td class="texto text-left text-muted">
                      <i>
                        {{ofertaActual.start_date}}
                      </i>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i class="titulo1">Fin Publicación:</i>&nbsp;
                    </th>
                    <td class="text-left text-muted">
                      <i class="texto">
                        {{ofertaActual.finish_date}}
                      </i>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12">
                <p class="text-muted texto" style="overflow: auto;">
                  {{ofertaActual.activities}}
                </p>
                <button class="btn btn-primary btn-sm pull-right"
                        (click)="validateSession(modalOfertaLaboral,ofertaActual,true)">
                  <span class="fa fa-info-circle"></span>&nbsp;Más Información
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-12">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)" tabindex="-1" (click)="paginacion(false)">Previous</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="javascript:void(0)">{{actual_page}} de {{total_pages}}</a>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)" (click)="paginacion(true)">Next</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<ng-template #modalOfertaLaboral let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">

    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('ClickEnX')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-lg">
    <div class="card">
      <div class="card-header bg-primary">
        <h3 class="text-white">Oferta Laboral</h3>
      </div>
      <div class="card-body m-1">
        <div class="row">
          <div class="col-lg-6">
            <!-- Codigo !-->
            <div class="form-group">
              <label for="code" class="col-form-label">
                <b>Código:</b>
              </label>
              <label class="form-control text-uppercase" id="code">
                {{selectedOffer.code}}
              </label>
            </div>

            <!-- Provincia !-->
            <div class="form-group ">
              <label for="province" class="col-form-label">
                <b>Provincia:</b>
              </label>
              <label class="form-control" id="province">
                {{selectedOffer.province}}
              </label>
            </div>

            <!-- Canton !-->
            <div class="form-group ">
              <label for="city" class="col-form-label">
                <b>Cantón:</b>
              </label>
              <label class="form-control" id="city">
                {{selectedOffer.city}}
              </label>
            </div>

            <!-- Inicio Publicacion !-->
            <div class="form-group datepicker-input">
              <label for="start_date" class="col-form-label">
                <b>Inicio Publicación:</b>
              </label>
              <label class="form-control" id="start_date">
                {{selectedOffer.start_date}}
              </label>
            </div>

            <!-- Fin Publicacion !-->
            <div class="form-group datepicker-input">
              <label for="finish_date" class="col-form-label">
                <b>Fin Publicación:</b>
              </label>
              <label class="form-control" id="finish_date">
                {{selectedOffer.finish_date}}
              </label>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Contacto !-->
            <div class="form-group">
              <label for="contact" class="col-form-label">
                <b>Contacto:</b>
              </label>
              <label class="form-control text-uppercase" id="contact">
                {{selectedOffer.contact}}
              </label>
            </div>

            <!-- Correo Electronico !-->
            <div class="form-group ">
              <label for="email" class="col-form-label">
                <b>Correo:</b>
              </label>
              <label class="form-control text-lowercase" id="email">
                {{selectedOffer.email}}
              </label>
            </div>

            <!-- Telefono Fijo !-->
            <div class="form-group ">
              <label for="phone" class="col-form-label">
                <b>Teléfono Fijo:</b>
              </label>
              <label class="form-control" id="phone">
                {{selectedOffer.phone}}
              </label>
            </div>

            <!-- Telefono Celular !-->
            <div class="form-group ">
              <label for="cell_phone" class="col-form-label">
                <b>Teléfono Celular:</b>
              </label>
              <label class="form-control" id="cell_phone">
                {{selectedOffer.cell_phone}}
              </label>
            </div>

            <!-- Tipo Contrato !-->
            <div class="form-group ">
              <label for="contract_type" class="col-form-label">
                <b>Tipo Contrato:</b>
              </label>
              <label class="form-control" id="contract_type">
                {{selectedOffer.contract_type}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="card">
      <div class="card-header bg-info">
        <h3 class="text-white">Perfil del Cargo</h3>
      </div>
      <div class="card-body  m-1">
        <!-- Cargo !-->
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="editCargo" class="col-form-label ">
                <b>Cargo:</b>
              </label>
              <label class="form-control text-uppercase" name="cargo" id="editCargo" style="overflow: auto;">
                {{selectedOffer.position}}
              </label>
            </div>
          </div>
        </div>
        <!-- Camp Amplio y Especifico !-->
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group ">
              <label for="campoAmplio" class="col-form-label">
                <b>Campo Amplio:</b>
              </label>
              <label class="form-control" id="campoAmplio" style="overflow: auto;height: 75px">
                {{selectedOffer.broad_field}}
              </label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group ">
              <label for="campoEspecifico" class="col-form-label">
                <b>Campo Específico:</b>
              </label>
              <label class="form-control" id="campoEspecifico" style="overflow: auto;height: 75px">
                {{selectedOffer.specific_field}}
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Jornada !-->
          <div class="col-3">
            <div class="form-group ">
              <label for="jornada" class="col-form-label">
                <b>Jornada:</b>
              </label>
              <label class="form-control" id="jornada">
                {{selectedOffer.working_day}}
              </label>
            </div>
          </div>
          <!-- Numero de Puestos !-->
          <div class="col-3">
            <div class="form-group ">
              <label for="numeroPuestos" class="col-form-label">
                <b>Puestos:</b>
              </label>
              <label class="form-control" id="numeroPuestos">
                {{selectedOffer.number_jobs}}
              </label>
            </div>
          </div>
          <!-- Remuneracion !-->
          <div class="col-3">
            <div class="form-group ">
              <label for="remuneracion" class="col-form-label">
                <b>Remuneración:</b>
              </label>
              <label class="form-control" id="remuneracion">
                {{selectedOffer.remuneration}}
              </label>
            </div>
          </div>
          <!-- Tiempo Experiencia!-->
          <div class="col-3">
            <div class="form-group ">
              <label for="experiencia" class="col-form-label">
                <b>Tiempo Experiencia:</b>
              </label>
              <label class="form-control" id="experiencia">
                {{selectedOffer.experience_time}}
              </label>
            </div>
          </div>
          <!-- Horas de Capacitacion !-->
          <div class="col-6">
            <div class="form-group ">
              <label for="horasCapacitacion" class="col-form-label">
                <b>Horas de Capacitación:</b>
              </label>
              <label class="form-control" id="horasCapacitacion">
                {{selectedOffer.training_hours}}
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- Actividades !-->
            <div class="form-group ">
              <label for="actividades" class="col-form-label">
                <b>Actividades:</b>
              </label>
              <label class="form-control text-uppercase" id="actividades" style="overflow: auto;height: 120px">
                {{selectedOffer.activities}}
              </label>
            </div>
            <!-- Informacion Adicional !-->
            <div class="form-group ">
              <label for="informacionAdicional" class="col-form-label">
                <b>Información Adicional:</b>
              </label>
              <label class="form-control text-uppercase" id="informacionAdicional"
                     style="overflow: auto;height: 120px">
                {{selectedOffer.aditional_information}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-lg" title="Aplicar" (click)="c('aplicar')" *ngIf="!validateOffer">
      <i class="fa fa-check" aria-hidden="true"> Aplicar</i>
    </button>
    <button class="btn btn-primary btn-lg" (click)="c('close')" *ngIf="validateOffer" disabled>
      <i class="fa fa-check" aria-hidden="true"> Oferta Aplicada</i>
    </button>
    <button class="btn btn-danger btn-lg" title="Cancelar" (click)="c('close')">
      <i class="fa fa-close" aria-hidden="true"> Cancelar</i>
    </button>
  </div>
</ng-template>

<ng-template #modalFilter let-c="close" let-d="dismiss">
  <div class="modal-header  bg-warning">
    <h4 class="modal-title">
      <h4><i class="fa fa-filter" aria-hidden="true"></i> Filtros</h4>
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('ClickEnX')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card">
      <div class="card-body m-1">
        <div class="row">
          <div class="col-lg-6">
            <!-- Codigo !-->
            <div class="form-group">
              <label for="filterCode" class="col-form-label">
                <b>Código:</b>
              </label>
              <input class="form-control text-uppercase" id="filterCode" [(ngModel)]="filters[0]">
            </div>
            <!-- Provincia !-->
            <div class="form-group ">
              <label for="editProvincia" class="col-form-label">
                <b>Provincia:</b>
              </label>
              <select class="form-control" name="idProvincia" id="editProvincia"
                      [(ngModel)]="filters[1]"
                      (click)="filtrarCantones(filters[1])" (change)="filtrarCantones(filters[1])"
                      required>
                <option value="" selected>
                  SELECCIONE...
                </option>
                <option *ngFor="let province of provinces">
                  {{province.provincia}}
                </option>
              </select>
            </div>
            <!-- Camp Especifico !-->
            <div class="form-group ">
              <label for="campoAmplio" class="col-form-label">
                <b>Campo Amplio:</b>
              </label>
              <select class="form-control" id="campoAmplio" name="campoAmplio"
                      [(ngModel)]="filters[2]"
                      (click)="filtrarCamposEspecificos(filters[2])"
                      (change)="filtrarCamposEspecificos(filters[2])"
                      required>
                <option value="">SELECCIONE...</option>
                <option *ngFor="let campoAmplio of areas">
                  {{campoAmplio.campo_amplio}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Cargo !-->
            <div class="row">
              <div class="col-lg-12">
                <div class="form-group">
                  <label for="editCargo" class="col-form-label ">
                    <b>Cargo:</b>
                  </label>
                  <input class="form-control text-uppercase" name="cargo" id="editCargo" [(ngModel)]="filters[3]">
                </div>
              </div>
            </div>
            <!-- Canton !-->
            <div class="form-group ">
              <label for="editCanton" class="col-form-label">
                <b>Cantón:</b>
              </label>
              <select class="form-control" name="idCIudad" id="editCanton" [(ngModel)]="filters[4]"
                      required>
                <option value="">
                  SELECCIONE UNA PROVINCIA...
                </option>
                <option *ngFor="let canton of cantones">
                  {{canton.nombre}}
                </option>
              </select>
            </div>
            <!-- Especifico !-->
            <div class="form-group ">
              <label for="campoEspecifico" class="col-form-label">
                <b>Campo Específico:</b>
              </label>
              <select class="form-control" id="campoEspecifico" name="campoEspecifico"
                      [(ngModel)]="filters[5]" required>
                <option value="">SELECCIONE CAMPO AMPLIO...</option>
                <option *ngFor="let campoEspecifico of camposEspecificos">
                  {{campoEspecifico.nombre}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success btn-lg" title="Aplicar" (click)="c('aplicar')">
      <i class="fa fa-check" aria-hidden="true"> Aplicar</i>
    </button>
    <button class="btn btn-danger btn-lg" title="Cancelar" (click)="c('close')">
      <i class="fa fa-close" aria-hidden="true"> Cancelar</i>
    </button>
  </div>
</ng-template>
