<div class="top-banner-div" style="background-image: url(assets/img/welcome-bg.png);">
  <h1 class="col-12 text-left" style="color:white; font-size: 70px; font-weight: 700;">BOLSA DE EMPLEO</h1>
</div>
<div class="row">
  <div class="col-2">
    <h6 class="bg-warning form-control">
      <i class="fa fa-filter" aria-hidden="true"></i>
      Filtros
    </h6>
  </div>
  <div class="col-8">
    <app-filtro></app-filtro>
  </div>
</div>
<div class="row">
  <!--Menu lateral izquierdo-->
  <div class="col-2">
    <div id="accordion" class="accordion">
      <div class="card mb-0 bg-white">
        <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
          <a class="card-title">
            Fecha de publicación
          </a>
        </div>
        <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td>
                  <a href="">Hoy</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Ayer</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Menor a 1 semana</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <a class="card-title">
            Provincia
          </a>
        </div>
        <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td>
                  <a href="">Pichincha</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Guayas</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Azuay</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <a class="card-title">
            Área
          </a>
        </div>
        <div id="collapseThree" class="card-body collapse" data-parent="#accordion">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td>
                  <a href="">Tecnología, Sistemas y Telecomunicaciones</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Marketing y Publicidad</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Otros</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Ofertas de trabajo-->
  <div class="col-10">
    <div class="card m-2" *ngFor="let ofertaActual of ofertas2">
      <div class="card-body">
        <div class="card-title">
          <div class="row">
            <div class="col-8">
              <h3 class="col-12 text-left">{{ofertaActual.nombreComercial}}</h3>
              <h5 class="col-12 text-left">{{ofertaActual.cargo}}</h5>
            </div>
            <div class="col-4 text-right">
              <table class="col-12">
                <tbody>
                <tr>
                  <th>
                    <i>Fecha de Anuncio:</i>&nbsp;
                  </th>
                  <td class="text-left">
                    <strong style="color: silver;">
                      <i>
                        {{
                        ofertaActual.inicioPublicacion.year
                        + '/' + ofertaActual.inicioPublicacion.month
                        + '/' + ofertaActual.inicioPublicacion.day
                        }}
                      </i></strong>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <p class="card-text text-justify">
          {{ofertaActual.actividades}}
        </p>
        <div class="col-12 m-2 text-left">
          <button type="submit" class="btn btn-primary" (click)="openOfertaLaboral(modalOfertaLaboral,oferta,true)">
            <span class="fa fa-info-circle"></span>&nbsp;Mas Información
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 mt-4">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5 text-right">
      <img class="col-9" src="assets/img/CONTRATANDO.png">
    </div>
    <div class="col-5">
      <div class="col-9">
        <h1 style="color: #5b32b4;font-size: 48px;">Ofertas de Tabajo</h1>
        <p class="text-justify">
          Las instituciones públicas y/o privadas demandan profesionales con excelencia académica, valores humanísticos,
          morales y éticos, basados en una formación de calidad y calidez acordes al Plan nacional del Buen Vivir.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="col-12 mt-4">
  <div class="container">
    <div class="video-area">
      <video class="col-12" controls>
        <source src="assets/videos/inedita.mp4">
      </video>
    </div>
  </div>
</div>
<div class="col-12" style="background-color: #5b32b4; margin-top: -150px; height: 400px;">
  <div class="col-12" style="height: 200px;">
  </div>
  <div class="col-12">
    <div class="row" style="color:white;">
      <div class="col-4">
        <div class="row">
          <div class="col-4">
            <h1 class="text-right">
              <span class="counter">
                  {{contadorEmpresas}}
              </span>
            </h1>
          </div>
          <div class="col-6">
            <div class="cool-facts-content">
              <span class="fa fa-briefcase fa-2x mb-2"></span>
              <p>EMPRESAS <br/> REGISTRADAS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-4">
            <h1 class="text-right">
              <span class="counter">
                {{contadorPostulantes}}
              </span>
            </h1>
          </div>
          <div class="col-6">
            <div class="cool-facts-content">
              <span class="fa fa-user-plus fa-2x mb-2"></span>
              <p>PROFESIONALES <br/> VINCULADOS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 mt-4">
  <h1 class="col-12- text-center" style="color: #5b32b4; font-size: 72px; font-weight: 700;">YaviracTec</h1>
</div>

<ng-template #modalOfertaLaboral let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">

    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('ClickEnX')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-lg">
    <div class="card">
      <div class="card-header bg-primary">
        <h3 class="text-white">Oferta Laboral</h3>
      </div>
      <div class="card-body m-1">
        <div class="row">
          <div class="col-lg-6">
            <!-- Codigo !-->
            <div class="form-group">
              <label for="editCodigo" class="col-form-label">
                Código:
              </label>
              <input class="form-control" name="codigo" id="editCodigo" [(ngModel)]="oferta.codigo"
                     placeholder="Código">
            </div>

            <!-- Cargo !-->
            <div class="form-group">
              <label for="editCargo" class="col-form-label">
                Cargo:
              </label>
              <input class="form-control" name="cargo" id="editCargo" [(ngModel)]="oferta.cargo" placeholder="Cargo">
            </div>

            <!-- Ciudad !-->
            <div class="form-group ">
              <label for="idCIudad" class="col-form-label">
                Ciudad:
              </label>
              <select class="form-control" name="idCIudad" id="editCiudad" [(ngModel)]="oferta.ciudad">
                <option value="">
                  Seleccione...
                </option>
                <option value="Quito">
                  Quito
                </option>
              </select>
            </div>

            <!-- Inicio Publicacion !-->
            <div class="form-group datepicker-input">
              <label for="editInicioPublicacion" class="col-form-label">
                Inicio Publicación:
              </label>
              <div class="input-group datepicker-input">
                <input [(ngModel)]="oferta.inicioPublicacion" class="form-control" id="editInicioPublicacion"
                       placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d1="ngbDatepicker">
                <button class="input-group-addon" (click)="d1.toggle()" type="button">
                  <span class="fa fa-calendar"></span>
                </button>
              </div>
            </div>

            <!-- Fin Publicacion !-->
            <div class="form-group datepicker-input">
              <label for="editFinPublicacion" class="col-form-label">
                Fin Publicación:
              </label>
              <div class="input-group datepicker-input">
                <input [(ngModel)]="oferta.finPublicacion" class="form-control" id="editFinPublicacion"
                       placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d2="ngbDatepicker">
                <button class="input-group-addon" (click)="d2.toggle()" type="button">
                  <span class="fa fa-calendar"></span>
                </button>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Contacto !-->
            <div class="form-group">
              <label for="editContacto" class="col-form-label">
                Contacto:
              </label>
              <input class="form-control" name="contacto" id="editContacto" [(ngModel)]="oferta.contacto"
                     placeholder="Nombres y Apellidos">
            </div>

            <!-- Correo Electronico !-->
            <div class="form-group ">
              <label for="editCorreoElectronico" class="col-form-label">
                Correo:
              </label>
              <input type="email" class="form-control" id="editCorreoElectronico"
                     [(ngModel)]="oferta.correoElectronico" placeholder="Correo Electrónico">
            </div>

            <!-- Telefono Fijo !-->
            <div class="form-group ">
              <label for="editTelefonoFijo" class="col-form-label">
                Teléfono Fijo:
              </label>
              <input class="form-control" id="editTelefonoFijo" [(ngModel)]="oferta.telefonoFijo"
                     placeholder="Teléfono Fijo">
            </div>

            <!-- Telefono Celular !-->
            <div class="form-group ">
              <label for="editTelefonoCelular" class="col-form-label">
                Teléfono Celular:
              </label>
              <input class="form-control" id="editTelefonoCelular"
                     [(ngModel)]="oferta.telefonoCelular" placeholder="Teléfono Celular">
            </div>

            <!-- Tipo Contrato !-->
            <div class="form-group ">
              <label for="editTipoContrato" class="col-form-label">
                Tipo Contrato:
              </label>
              <select class="form-control" id="editTipoContrato" [(ngModel)]="oferta.tipoContrato">
                <option value="">Seleccione...</option>
                <option value="Ocasional">Ocasional</option>
                <option value="Tiempo Completo">Tiempo Completo</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="card">
      <div class="card-header bg-info">
        <h3 class="text-white">Perfil del Cargo</h3>
      </div>
      <div class="card-body  m-1">
        <div class="row">
          <div class="col-lg-6">
            <!-- Instruccion Nivel !-->
            <div class="form-group ">
              <label for="instruccionNivel" class="col-form-label">
                Instrucción Nivel:
              </label>
              <select class="form-control" name="instruccionNivel" id="instruccionNivel"
                      [(ngModel)]="oferta.instruccionNivel">
                <option value="">Seleccione...</option>
                <option value="Tercer Nivel">Tercer Nivel</option>
                <option value="Cuarto Nivel">Cuarto Nivel</option>
              </select>
            </div>
            <!-- Horas de Capacitacion !-->
            <div class="form-group ">
              <label for="horasCapacitacion" class="col-form-label">
                Horas de Capacitación:
              </label>
              <input class="form-control" id="horasCapacitacion"
                     [(ngModel)]="oferta.horasCapacitacion" placeholder="Horas de Capacitación">
            </div>
            <!-- Numero de Puestos !-->
            <div class="form-group ">
              <label for="numeroPuestos" class="col-form-label">
                Puestos:
              </label>
              <input class="form-control" id="numeroPuestos" [(ngModel)]="oferta.numeroPuestos"
                     placeholder="# de Puestos">
            </div>
            <!-- Informacion Adicional !-->
            <div class="form-group ">
              <label for="informacionAdicional" class="col-form-label">
                Información Adicional:
              </label>
              <textarea class="form-control" id="informacionAdicional"
                        [(ngModel)]="oferta.informacionAdicional" placeholder="Información Adicional"></textarea>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Remuneracion !-->
            <div class="form-group ">
              <label for="remuneracion" class="col-form-label">
                Remuneración:
              </label>
              <input class="form-control" id="remuneracion" [(ngModel)]="oferta.remuneracion"
                     placeholder="Remuneración">
            </div>
            <!-- Tiempo Experiencia!-->
            <div class="form-group ">
              <label for="experiencia" class="col-form-label">
                Tiempo Experiencia:
              </label>
              <input class="form-control" id="experiencia" [(ngModel)]="oferta.tiempoExperiencia"
                     placeholder="Tiempo de Experiencia">
            </div>
            <!-- Jornada !-->
            <div class="form-group ">
              <label for="jornada" class="col-form-label">
                Jornada:
              </label>
              <input class="form-control" id="jornada" [(ngModel)]="oferta.jornada" placeholder="Jornada">
            </div>
            <!-- Actividades !-->
            <div class="form-group ">
              <label for="actividades" class="col-form-label">
                Actividades:
              </label>
              <textarea class="form-control" id="actividades" [(ngModel)]="oferta.actividades"
                        placeholder="Actividades"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger btn-lg" title="Aplicar" (click)="c('save')">
      <i class="fa fa-check" aria-hidden="true"> Aplicar</i>
    </button>
    <button class="btn btn-primary btn-lg" title="Cancelar" (click)="c('close')">
      <i class="fa fa-close" aria-hidden="true"> Cancelar</i>
    </button>
  </div>
</ng-template>
