<div class="top-banner-div" style="background-image: url(assets/img/welcome-bg.png);">
  <h1 class="col-12 text-left" style="color:white; font-size: 70px; font-weight: 700;">BOLSA DE EMPLEO</h1>
</div>
<div class="row">
  <div class="col-12 mt-4">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-5 text-right">
        <img class="col-9" src="assets/img/CONTRATANDO.png">
      </div>
      <div class="col-5">
        <div class="col-9">
          <h1 style="color: #5b32b4;font-size: 48px;">Ofertas de Tabajo</h1>
          <p class="text-justify">
            Las instituciones públicas y/o privadas demandan profesionales con excelencia académica, valores
            humanísticos,
            morales y éticos, basados en una formación de calidad y calidez acordes al Plan nacional del Buen Vivir.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<app-filtro></app-filtro>
<div class="col-12 mt-4">
  <div class="container">
    <div class="video-area">
      <video class="col-12" controls>
        <source src="assets/videos/inedita.mp4">
      </video>
    </div>
  </div>
</div>
<div class="col-12" style="background-color: #5b32b4; margin-top: -150px; height: 400px;">
  <div class="col-12" style="height: 200px;">
  </div>
  <div class="col-12">
    <div class="row" style="color:white;">
      <div class="col-4">
        <div class="row">
          <div class="col-4">
            <h1 class="text-right">
              <span class="counter">
                  {{contadorEmpresas}}
              </span>
            </h1>
          </div>
          <div class="col-6">
            <div class="cool-facts-content">
              <span class="fa fa-briefcase fa-2x mb-2"></span>
              <p>EMPRESAS <br/> REGISTRADAS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-4">
            <h1 class="text-right">
              <span class="counter">
                {{contadorPostulantes}}
              </span>
            </h1>
          </div>
          <div class="col-6">
            <div class="cool-facts-content">
              <span class="fa fa-user-plus fa-2x mb-2"></span>
              <p>PROFESIONALES <br/> VINCULADOS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 mt-4">
  <h1 class="col-12- text-center" style="color: #5b32b4; font-size: 72px; font-weight: 700;">YaviracTec</h1>
</div>
