<div class="row">
  <div class="col-lg-12">
    <div class="top-banner-div" style="background-image: url(assets/img/welcome-bg.png);">
      <h1 class="text-left titulo" style="color:white; font-size: 70px; font-weight: 700;">
        BOLSA DE EMPLEO - OFERTAS
      </h1>
    </div>
  </div>
</div>
<!--Primero Bloque-->
<div class="row">
  <div class="col-10 offset-1">
    <div class="card">
      <div class="card-title">
        <div class="bg-light rounded">
          <div class="row">
            <div class="col-4 text-center">
              <h3>
                {{contadorEmpresas}}
                <i class="fa fa-building mb-2"></i>
              </h3>
              <h6> EMPRESAS REGISTRADAS</h6>
            </div>
            <div class="col-4 text-center">
              <h3>
                {{contadorPostulantes}}
                <i class="fa fa-users mb-2"></i>
              </h3>
              <h6>PROFESIONALES VINCULADOS</h6>
            </div>
            <div class="col-4 text-center">
              <h3>
                {{contadorOfertas}}
                <i class="fa fa-briefcase mb-2"></i>
              </h3>
              <h6>OFERTAS LABORALES</h6>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-5 col-sm-12 text-left">
            <img src="assets/img/CONTRATANDO.png" width="350px" height="350px">
          </div>
          <div class="col-lg-7 col-sm-12 text-left">
            <h1 class="text-center" style="color: #5b32b4;font-size: 48px;">Ofertas Laborales</h1>
            <p class="text-justify text-muted">
              Las instituciones públicas y/o privadas demandan profesionales con excelencia académica, valores
              humanísticos, morales y éticos, basados en una formación de calidad y calidez acordes al Plan Nacional del
              Buen Vivir.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--Segundo Bloque-->
<div class="m-5">
  <app-filtro-ofertas></app-filtro-ofertas>
</div>
<!--Tercer Bloque-->
<div class="m-5">
  <!--Video-->
  <div class="row">
    <div class="col-lg-12">
      <div class="container">
        <div class="video-area">
          <video class="col-12" controls>
            <source src="assets/videos/empresas.mp4">
          </video>
        </div>
      </div>
    </div>
  </div>
  <!--Contadores-->
  <div class="row">
    <div class="col-lg-12" style="background-color: #5b32b4; margin-top: -150px; height: 400px;">
      <div class="col-12" style="height: 200px;">
      </div>
      <div class="col-12">
        <div class="row text-white">
          <div class="col-4">
            <div class="row">
              <div class="col-4">
                <h1 class="text-right">
              <span class="counter">
                  {{contadorEmpresas}}
              </span>
                </h1>
              </div>
              <div class="col-6">
                <div class="cool-facts-content">
                  <span class="fa fa-building fa-2x mb-2"></span>
                  <p>EMPRESAS <br/> REGISTRADAS</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-4">
                <h1 class="text-right">
              <span class="counter">
                {{contadorPostulantes}}
              </span>
                </h1>
              </div>
              <div class="col-6">
                <div class="cool-facts-content">
                  <span class="fa fa-users fa-2x mb-2"></span>
                  <p>PROFESIONALES <br/> VINCULADOS</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="row">
              <div class="col-4">
                <h1 class="text-right">
              <span class="counter">
                {{contadorOfertas}}
              </span>
                </h1>
              </div>
              <div class="col-6">
                <div class="cool-facts-content">
                  <span class="fa fa-briefcase fa-2x mb-2"></span>
                  <p>OFERTAS <br/> LABORALES</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--YaviracTec-->
  <div class="row">
    <div class="col-lg-12 mt-1">
      <h1 class="col-12- pull-right" style="color: #5b32b4; font-size: 15px; font-weight: 300;">
        <!--<img src="assets/img/logo-yavirac.jpg" alt="" width="100px" height="50px">-->
        <i class="fa fa-fw fa-copyright"></i> 2018 - 2019 Create by YaviracTec
      </h1>
    </div>
  </div>
</div>
