<div [@routerTransition] class="login-page">
  <div class="row">
    <div class="col-12" style="margin-top:5px;">
      <div class="form-group">
        <form name="userform" method="post" #formCtrl="ngForm">
          <div class="row">
            <div class="col-sm-1 col-md-2 col-lg-3"></div>
            <div class="col-xs-12 col-sm-10 col-md-8 col-lg-6">
              <div class="form-group text-center pretty-form">
                <div class="form-group">
                  <img src="assets/img/bolsa-trabajo.png" class="img-responsive col-4">
                </div>
                <div class="form-group">
                  <h3 class="col-12 text-center"><strong>Iniciar Sesión</strong></h3>
                </div>
                <div class="form-group">
                  <div class="form-content">
                    <div class="form-group row">
                      <input type="text" class="form-control input-underline input-lg" id="email"
                             [(ngModel)]="user.user_name" name="email" placeholder="Correo Electrónico"
                             required>
                    </div>
                    <div class="form-group row">
                      <input type="password" class="form-control input-underline input-lg" name="clave" id="clave"
                             [(ngModel)]="user.password"
                             placeholder="Contraseña" required>
                    </div>
                    <div class="form-group text-right">
                      <a routerLink="/reset">¿Olvidaste tu contraseña?</a>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-12">
                    <div *ngIf="mostrarMensajeError" class="col-12 alert alert-danger" role="alert">
                      Credenciales incorrectos
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col_2 m-5">
                    <div *ngIf="isLoading">
                      <app-loader></app-loader>
                    </div>
                  </div>
                  <button type="submit" class="col-8 btn btn-primary mr-1" (click)="login()"
                          [disabled]="formCtrl.form.invalid">
                    <i class="fa fa-fw fa-sign-in"></i>&nbsp;Ingresar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
