<div class="card mt-1">
  <div class="card-body">
    <form name="datosPersnalesform" method="post" #formCtrl="ngForm">
      <div class="row">
        <div class="col-lg-3 col-sm-12">
          <div class="row">
            <div class="col-lg-12 mt-3 text-center">
              <div class="form-group">
                <a target="_blank" class="form-control btn btn-primary"
                   href="curriculum?idPostulante={{this.postulanteService.postulante.id}}">
                  <i class="fa fa-id-badge" aria-hidden="true"> VER CV</i>
                </a>
              </div>
              <div class="form-group">
                <img src="{{postulanteService.postulante.fotografia}}" title="Haga click"
                     class="form-control rounded-circle col-4 offset-4  btn"
                     (click)="fileInput.click()" width="150px" height="120px">
                <input type="file" class="form-control btn-light" id="foto" #fileInput
                       (change)="CodificarArchivo($event)" accept="image/*">
              </div>
              <div class="group-form mt-5">
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <button type="submit" class="col-lg-12 btn btn-success mr-1" (click)="actualizar()"
                            [disabled]="formCtrl.form.invalid">
                      <i class="fa fa-fw fa-save"></i>&nbsp;Actualizar
                    </button>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-12 col-sm-12">
                    <h6 class="text-muted"><b class="text-danger">* </b>Todos los campos son obligatorios</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-9 col-sm-12">
          <div class="row">
            <div class="col-6">
              <!--Identificacion-->
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6">
                    <label for="identificacion">
                      <b class="text-danger">*</b> Identificación:
                    </label>
                    <input type="text" [(ngModel)]="postulanteService.postulante.identificacion"
                           class="form-control"
                           id="identificacion" name="identificacion" placeholder="Ej. 1723456789" required>
                  </div>
                  <div class="col-lg-6">
                    <label for="telefono">
                      <b class="text-danger">*</b> Teléfono:
                    </label>
                    <input type="text" [(ngModel)]="postulanteService.postulante.telefono" class="form-control"
                           id="telefono" name="telefono" placeholder="Ej. 0987654321" required>
                  </div>
                </div>
              </div>
              <!--Nombres Completos-->
              <div class="form-group">
                <label for="nombreCompleto">
                  <b class="text-danger">*</b> Nombre Completo:
                </label>
                <input type="text" [(ngModel)]="postulanteService.postulante.nombreCompleto"
                       class="form-control text-uppercase"
                       id="nombreCompleto" name="nombreCompleto" placeholder="Apellidos y Nombres" required>
              </div>
              <!--Nacionalidad-->
              <div class="form-group">
                <div class="row">
                  <div class="col-lg-6">
                    <label for="nacionalidad">
                      <b class="text-danger">*</b> Nacionalidad:
                    </label>
                    <select type="text" [(ngModel)]="postulanteService.postulante.nacionalidad" class="form-control"
                            id="nacionalidad" name="nacionalidad" placeholder="Nacionalidad" required>
                      <option value="">SELECCIONE...</option>
                      <option value="{{nacionalidad.descripcion}}" *ngFor="let nacionalidad of nacionalidades">
                        {{nacionalidad.descripcion}}
                      </option>
                    </select>
                  </div>
                  <div class="col-lg-6">
                    <label for="sexo">
                      <b class="text-danger">*</b> Sexo:
                    </label>
                    <select [(ngModel)]="postulanteService.postulante.sexo" class="form-control" id="sexo"
                            name="sexo"
                            required>
                      <option value="" selected>SELECCIONE...</option>
                      <option value="{{sexo.descripcion}}" *ngFor="let sexo of sexos">
                        {{sexo.descripcion}}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
              <!--Estado Civil-->
              <div class="form-group">
                <div class="row">
                  <div class="col-6">
                    <label for="estadoCivil">
                      <b class="text-danger">*</b> Estado Civil:
                    </label>
                    <select [(ngModel)]="postulanteService.postulante.estadoCivil" class="form-control"
                            id="estadoCivil"
                            name="estadoCivil" required>
                      <option value="" selected>SELECCIONE...</option>
                      <option value="{{estadoCivil.descripcion}}" *ngFor="let estadoCivil of estadosCiviles">
                        {{estadoCivil.descripcion}}
                      </option>
                    </select>
                  </div>
                  <div class="col-6">
                    <label for="fechaNacimiento">
                      <b class="text-danger">*</b> Fecha de Nacimiento:
                    </label>
                    <div class="input-group datepicker-input">
                      <input [(ngModel)]="postulanteService.postulante.fechaDeNacimiento" class="form-control"
                             placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker" required>
                      <button class="input-group-addon btn" (click)="d.toggle()" type="button">
                        <span class="fa fa-calendar"></span>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <!--Correo Electronico-->
              <div class="form-group">
                <label for="correoElectronico">
                  <b class="text-danger">*</b> Correo Electrónico:
                </label>
                <input type="email" [(ngModel)]="postulanteService.postulante.correoElectronico"
                       class="form-control text-lowercase"
                       id="correoElectronico" name="correoElectronico" placeholder="Ej. contacto@gmail.com"
                       required readonly>
              </div>
              <!--Direccion-->
              <div class="form-group">
                <label for="domicilio">
                  <b class="text-danger">*</b> Dirección de Domicilio:
                </label>
                <textarea rows="2" type="text" [(ngModel)]="postulanteService.postulante.direccion"
                          class="form-control text-uppercase"
                          id="domicilio" name="domicilio"
                          placeholder="EJ. PROVINCIA, CANTÓN, CALLE PRINCIPAL, CALLE SECUNDARIA, NÚMERO DE CASA"
                          required></textarea>
              </div>
              <div class="form-group">
                <label for="acercaDeMi">
                  <b class="text-danger">*</b> Acerca de mí:
                </label>
                <textarea rows="4" type="text" [(ngModel)]="postulanteService.postulante.acercaDeMi"
                          class="form-control text-uppercase" id="acercaDeMi" name="acerdaDeMi"
                          placeholder="Escriba una descripción acerca de usted" required></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
