<div class="card mt-1">
  <div class="card-body">
    <div class="row">
      <div class="col-3">
        <div class="form-group">
          <img src="{{postulanteService.postulante.fotografia}}" title="Seleccione su Foto"
               class="form-control rounded-circle col-4 offset-4  btn"
               (click)="fileInput.click()" width="150px" height="120px">
        </div>
        <!--Acerca de Mi-->
        <div class="form-group text-center">
          <label for="acercaDeMi" class="bg-info form-control text-white">¿Quién Soy?</label>
          <textarea rows="5" type="text" [(ngModel)]="postulanteService.postulante.acercaDeMi" class="form-control"
                    id="acercaDeMi"
                    placeholder="Soy Cristian Romero,un emprendedor, me apasionan los temas sobre superación personal, soy un convencido de que las oportunidades no hay que esperarlas..."></textarea>
        </div>
        <div class="form-group">
          <a target="_blank" class="form-control btn btn-primary"
             href="curriculum?idPostulante={{this.postulanteService.postulante.id}}">
            <i class="fa fa-id-badge" aria-hidden="true"> VER CV</i>
          </a>
        </div>
        <input type="file" style="visibility: hidden; height: 0px" class="form-control" id="foto"
               placeholder="Fotografía" #fileInput (change)="CodificarArchivo($event)" accept="image/*">
      </div>
      <div class="col-9">
        <div class="row">
          <div class="col-6">
            <!--Identificacion-->
            <div class="form-group">
              <label for="identificacion">Identificación:</label>
              <input type="text" [(ngModel)]="postulanteService.postulante.identificacion" class="form-control"
                     id="identificacion" placeholder="Cédula">
            </div>
            <!--Nombres Completos-->
            <div class="form-group">
              <label for="nombreCompleto">Nombre Completo:</label>
              <input type="text" [(ngModel)]="postulanteService.postulante.nombreCompleto" class="form-control"
                     id="nombreCompleto" placeholder="Apellidos y Nombres">
            </div>
            <!--Nacionalidad-->
            <div class="form-group">
              <label for="nacionalidad">Nacionalidad:</label>
              <select type="text" [(ngModel)]="postulanteService.postulante.nacionalidad" class="form-control"
                      id="nacionalidad" placeholder="Nacionalidad">
                <option value="">SELECCIONE...</option>
                <option value="ECUATORIANA">ECUATORIANA</option>
                <option value="OTRA">OTRA</option>
              </select>
            </div>
            <!--Estado Civil-->
            <div class="form-group">
              <div class="row">
                <div class="col-6">
                  <label for="estadoCivil">Estado Civil:</label>
                  <select [(ngModel)]="postulanteService.postulante.estadoCivil" class="form-control" id="estadoCivil"
                          name="estadoCivil">
                    <option value="" selected>SELECCIONE...</option>
                    <option value="CASADO (A)">CASADO (A)</option>
                    <option value="DIVORCIADO (A">DIVORCIADO (A)</option>
                    <option value="SOLTERO (A)">SOLTERO (A)</option>
                    <option value="UNIÓN DE HECHO">UNIÓN DE HECHO</option>
                    <option value="VIUDO (A)">VIUDO (A)</option>
                  </select>
                </div>
                <div class="col-6">
                  <label for="fechaNacimiento">Fecha de Nacimiento:</label>
                  <div class="input-group datepicker-input">
                    <input [(ngModel)]="postulanteService.postulante.fechaDeNacimiento" class="form-control"
                           placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
                    <button class="input-group-addon" (click)="d.toggle()" type="button">
                      <span class="fa fa-calendar"></span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-6">
            <!--Correo Electronico-->
            <div class="form-group">
              <label for="correoElectronico">Correo Electrónico:</label>
              <input type="email" [(ngModel)]="postulanteService.postulante.correoElectronico" class="form-control"
                     id="correoElectronico" placeholder="Ej. contacto@midominio.com">
            </div>
            <!--Telefono-->
            <div class="form-group">
              <label for="telefono">Teléfono:</label>
              <input type="text" [(ngModel)]="postulanteService.postulante.telefono" class="form-control" id="telefono"
                     placeholder="Teléfono">
            </div>
            <!--Direccion-->
            <div class="form-group">
              <label for="domicilio">Dirección de Domicilio:</label>
              <textarea rows="5" type="text" [(ngModel)]="postulanteService.postulante.direccion" class="form-control"
                        id="domicilio"
                        placeholder="EJ. PROVINCIA, CANTÓN, CALLE PRINCIPAL, CALLE SECUNDARIA, NÚMERO DE CASA"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
