<div class="col-12 mt-2 card">
  <div class="row mt-3">
    <div class="col-4">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <input type="file" style="visibility: hidden; height: 0px" class="form-control" id="foto" placeholder="Fotografía" #fileInput (change)="CodificarArchivo($event)" accept="image/*">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 m-3 text-center">
          <img src="{{postulanteService.postulante.fotografia}}" class="rounded-circle col-8" (click)="fileInput.click()">
        </div>
      </div>
    </div>
    <div class="col-8">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="nombreCompleto">Nombre Completo</label>
            <input type="text" [(ngModel)]="postulanteService.postulante.nombreCompleto" class="form-control" id="nombreCompleto" placeholder="Nombre Completo">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="nacionalidad">Nacionalidad</label>
            <input type="text" [(ngModel)]="postulanteService.postulante.nacionalidad" class="form-control" id="nacionalidad" placeholder="Nacionalidad">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="identificacion">Identificación</label>
            <input type="text" [(ngModel)]="postulanteService.postulante.identificacion" class="form-control" id="identificacion" placeholder="Identificación">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="estadoCivil">Estado Civil</label>
            <select [(ngModel)]="postulanteService.postulante.estadoCivil" class="form-control" id="estadoCivil" name="estadoCivil">
              <option value="" selected>Seleccione...</option>
              <option value="Soltero / Soltera">Soltero / Soltera</option>
              <option value="Casado / Casada">Casado / Casada</option>
              <option value="Divorciado / Divorciada">Divorciado / Divorciada</option>
              <option value="Viudo / Viuda">Viudo / Viuda</option>
            </select>
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="fechaNacimiento">Fecha de Nacimiento</label>
            <div class="input-group datepicker-input">
              <input [(ngModel)]="postulanteService.postulante.fechaDeNacimiento" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #d="ngbDatepicker">
              <button class="input-group-addon" (click)="d.toggle()" type="button">
                <span class="fa fa-calendar"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="form-group">
            <label for="correoElectronico">Correo Electrónico</label>
            <input type="email" [(ngModel)]="postulanteService.postulante.correoElectronico" class="form-control" id="correoElectronico" placeholder="Correo Electrónico">
          </div>
        </div>
        <div class="col-6">
          <div class="form-group">
            <label for="telefono">Teléfono</label>
            <input type="text" [(ngModel)]="postulanteService.postulante.telefono" class="form-control" id="telefono" placeholder="Teléfono">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="domicilio">Dirección de Domicilio</label>
            <input type="text" [(ngModel)]="postulanteService.postulante.direccion" class="form-control" id="domicilio" placeholder="Domicilio">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
