<div class="col-12 mt-2">
  <div class="row">
    <button class="btn btn-success m-2" (click)="open(content, estudioRealizado, false)">
      <span class="fa fa-plus-circle"></span>&nbsp;Agregar
    </button>
  </div>
  <div class="row">
    <div class="col-12 card mt-3">
      <div class="row">
        <div class="col-12">
          <h4 class="col-12 text-center">Referencias Personales</h4>
        </div>
        <div class="col-12">
          <table class="table table-bordered table-hover">
            <thead class="table-active">
              <th>Nombres y Apellidos</th>
              <th>Cargo</th>
              <th>Empresa</th>
              <th>Teléfono</th>
              <th width="100px">Opciones</th>
            </thead>
            <tbody>
              <tr *ngFor="let item of postulanteService.postulante.referenciasPersonales">
                <td>{{item.nombresApellidos}}</td>
                <td>{{item.cargo}}</td>
                <td>{{item.empresa}}</td>
                <td>{{item.telefono}}</td>
                <td>
                  <button class="btn btn-warning btn-sm" (click)="open(content,item,true)"><span class="fa fa-edit"></span></button>
                  <button class="btn btn-danger ml-1 btn-sm" (click)="borrar(item)"><span class="fa fa-trash"></span></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="row">
      <h4 class="col-12 text-center">Referencias Personales</h4>
    </div>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <label for="nombresApellidos">Nombres y Apellidos</label>
          <input type="text" [(ngModel)]="referenciaPersonal.nombresApellidos" class="form-control" id="nombresApellidos" placeholder="Nombres y Apellidos">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="cargo">Cargo</label>
          <input type="text" [(ngModel)]="referenciaPersonal.cargo" class="form-control" id="cargo" placeholder="Cargo">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="empresa">Empresa</label>
          <input type="text" [(ngModel)]="referenciaPersonal.empresa" class="form-control" id="empresa" placeholder="Empresa">
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <label for="telefono">Teléfono</label>
          <input type="text" [(ngModel)]="referenciaPersonal.telefono" class="form-control" id="telefono" placeholder="Teléfono">
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" (click)="c('save')">
      <span class="fa fa-check"></span>&nbsp;Aceptar
    </button>
    <button class="btn btn-danger" (click)="c('close')">
      <span class="fa fa-close"></span>&nbsp;Cancelar
    </button>
  </div>
</ng-template>
