<div class="row">
  <div class="col-12 m-2 text-center">
    <button type="submit" class="btn btn-primary" (click)="imprimir()">
      <span class="fa fa-print"></span>&nbsp;Imprimir CV
    </button>
  </div>
</div>
<div id="curriculum" class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">CURRICULUM VITAE</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-10">
      <h4>Datos Personales:</h4>
    </div>
  </div>
  <!--Datos Personales-->
  <div class="row">
    <div class="col-12">
      <table class="table">
        <tr>
          <td rowspan="7">
            <img src="{{curriculum.avatar}}" class="rounded-circle" width="150px" height="150px">
          </td>
        </tr>
        <tr>
          <th width="30%">
            Nombre Completo:
          </th>
          <td width="70%">
            {{curriculum.first_name + curriculum.last_name}}
          </td>
        </tr>
        <tr>
          <th width="30%">
            Identificación:
          </th>
          <td width="70%">
            {{curriculum.identity}}
          </td>
        </tr>
        <tr>
          <th width="30%">
            Fecha de Nacimiento:
          </th>
          <td width="70%">
            {{curriculum.birthdate}}
          </td>
        </tr>
        <tr>
          <th width="30%">
            Estado Civil:
          </th>
          <td width="70%">
            {{curriculum.civil_state}}
          </td>
        </tr>
        <tr>
          <th width="30%">
            Sexo:
          </th>
          <td width="70%">
            {{curriculum.gender}}
          </td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <tr>
          <th>
            Nacionalidad:
          </th>
          <td>
            {{curriculum.nationality}}
          </td>
        </tr>
        <tr>
          <th width="20%">
            Teléfono:
          </th>
          <td width="80%">
            {{curriculum.phone}}
          </td>
        </tr>
        <tr>
          <th>
            Domicilio:
          </th>
          <td>
            {{curriculum.address}}
          </td>
        </tr>
        <tr>
          <th>
            Correo Electrónico:
          </th>
          <td>
            {{curriculum.email}}
          </td>
        </tr>
        <tr>
          <th width="30%" rowspan="7">
            Acerca de Mí:
          </th>
          <td width="70%">
            <p class="text-justify">
              {{curriculum.about_me}}
            </p>
          </td>
        </tr>
      </table>
    </div>
  </div>
  <!--Fin Datos Personales-->

  <!--Estudios Realizados-->
  <div class="row mt-5">
    <div class="col-12">
      <h4 class="col-12 seccion">Estudios Realizados:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-sm">
        <thead>
        <th width="30%">Institución</th>
        <th width="40%">Título</th>
        <th width="15%">Fecha de Registro</th>
        <th width="15%">Cód. Reg. SENESCYT</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of academicFormations">
          <td>{{item.institution}}</td>
          <td>{{item.professional_degree}}</td>
          <td>{{item.registration_date}}</td>
          <td>{{item.senescyt_code}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Fin Estudios Realizados-->

  <!--Capacitación y Cursos-->
  <div class="row mt-5">
    <div class="col-12">
      <h4 class="col-12 seccion">Capacitación y Cursos:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-sm">
        <thead>
        <th>Institución</th>
        <th>Tipo de Evento</th>
        <th>Nombre del Evento</th>
        <th>Tipo de Certificado</th>
        <th>Desde</th>
        <th>Hasta</th>
        <th>Horas</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of courses">
          <td>{{item.institution}}</td>
          <td>{{item.event_type}}</td>
          <td>{{item.event_name}}</td>
          <td>{{item.type_certification}}</td>
          <td>{{item.start_date}}</td>
          <td>{{item.finish_date}}</td>
          <td>{{item.hours}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Fin Capacitación y Cursos-->

  <!--Idiomas-->
  <div class="row mt-5">
    <div class="col-12">
      <h4 class="col-12 seccion">Idiomas:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-sm">
        <thead>
        <th width="40%">Idioma</th>
        <th width="20%">Nivel Escrito</th>
        <th width="20%">Nivel Hablado</th>
        <th width="20%">Nivel Lectura</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of languages">
          <td>{{item.description}}</td>
          <td>{{item.written_level}}</td>
          <td>{{item.spoken_level}}</td>
          <td>{{item.reading_level}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Fin Idiomas-->

  <!--Experiencia Profesional-->
  <div class="row mt-5">
    <div class="col-12">
      <h4 class="col-12 seccion">Experiencia Profesional:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-sm">
        <thead>
        <th width="20%">Empleador</th>
        <th width="20%">Cargo Desempeñado</th>
        <th width="30%">Descripción del Cargo</th>
        <th width="10%">Fecha de Inicio</th>
        <th width="10%">Fecha de Salida</th>
        <th width="10%">Actual</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of professionalExperiences">
          <td>{{item.employer}}</td>
          <td>{{item.position}}</td>
          <td><p class="text-justify">{{item.job_description}}</p></td>
          <td>{{item.start_date}}</td>
          <td *ngIf="item.current_work"></td>
          <td *ngIf="!item.current_work">
            {{item.finish_date}}
          </td>
          <td>
            <div class="col-12 text-center" *ngIf="item.current_work"><span
              class="badge badge-success">Actual</span>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Fin Experiencia Profesional-->

  <!--Fortalezas-->
  <div class="row mt-5">
    <div class="col-12">
      <h4 class="col-12 seccion">Fortalezas:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-sm">
        <thead>
        <th width="30%">Nombre</th>
        <th width="30%">Descripción</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of curriculum.fortalezas">
          <td>{{item.nombre}}</td>
          <td>{{item.descripcion}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Fin Fortalezas-->
  <!--Referencias Personales-->
  <div class="row mt-5">
    <div class="col-12">
      <h4 class="col-12 seccion">Referencias Personales:</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table table-sm">
        <thead>
        <th>Nombres y Apellidos</th>
        <th>Cargo</th>
        <th>Empresa</th>
        <th>Teléfono</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of curriculum.referenciasPersonales">
          <td>{{item.nombresApellidos}}</td>
          <td>{{item.cargo}}</td>
          <td>{{item.empresa}}</td>
          <td>{{item.telefono}}</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Fin Referencias Personales-->
</div>
<div class="row">
  <div class="col-12 m-2 text-center">
    <button type="submit" class="btn btn-primary" (click)="imprimir()">
      <span class="fa fa-print"></span>&nbsp;Imprimir CV
    </button>
  </div>
</div>
