<div class="top-banner-div" style="background-image: url(assets/img/welcome-bg.png);">
  <h1 class="col-12 text-left" style="color:white; font-size: 70px; font-weight: 700;">REGISTRO - EMPRESA</h1>
</div>
<div class="col-12 mt-2">
  <div>
    <div class="row">
      <div class="col-lg-6">
        <!-- Identificacion !-->
        <div class="form-group row">
          <label for="identificacion" class="col-lg-4 col-form-label">
            Identificación / RUC:
          </label>
          <div class="col-lg-8">
            <input class="form-control" name="identificacion" id="identificacion" [(ngModel)]="empresa.identificacion">
          </div>
        </div>
        <!-- Correo Electronico !-->
        <div class="form-group row">
          <label for="correoElectronico" class="col-lg-4 col-form-label">
            Correo Electrónico:
          </label>
          <div class="col-lg-8">
            <input type="email" class="form-control" name="correoElectronico" id="correoElectronico" [(ngModel)]="empresa.correoElectronico">
          </div>
        </div>
        <!-- Razon Social !-->
        <div class="form-group row">
          <label for="razonSocial" class="col-lg-4 col-form-label">
            Razón Social:
          </label>
          <div class="col-lg-8">
            <input class="form-control" name="razonSocial" id="razonSocial" [(ngModel)]="empresa.razonSocial">
          </div>
        </div>
        <!-- Contraseña !-->
        <div class="form-group row">
          <label for="contrasena" class="col-lg-4 col-form-label">
            Contraseña:
          </label>
          <div class="col-lg-8">
            <input type="password" class="form-control" name="contrasena" id="contrasena" [(ngModel)]="contrasena">
          </div>
        </div>
        <!-- Confirmacion !-->
        <div class="form-group row">
          <label for="confirmar" class="col-lg-4 col-form-label">
            Confirmar Contraseña:
          </label>
          <div class="col-lg-8">
            <input type="password" class="form-control" name="confirmar" id="confirmar" [(ngModel)]="confirmacion">
          </div>
        </div>
        <!-- Nombre Comercial !-->
        <div class="form-group row">
          <div class="col-lg-4 col-form-label">
            <label for="nombreComercial">
              Nombre Comercial:
            </label>
          </div>
          <div class="col-lg-8">
            <input class="form-control" name="nombreComercial" id="nombreComercial" [(ngModel)]="empresa.nombreComercial">
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <!-- Telefono Celular !-->
        <div class="form-group row">
          <label for="telefonoCelular" class="col-lg-4 col-form-label">
            Teléfono celular:
          </label>
          <div class="col-lg-8">
            <input type="tel" class="form-control" name="telefonoCelular" id="telefonoCelular" [(ngModel)]="empresa.telefonoCelular">
          </div>
        </div>
        <!-- Telefono Fijo -->
        <div class="form-group row">
          <label for="telefonoFijo" class="col-lg-4 col-form-label">
            Teléfono fijo:
          </label>
          <div class="col-lg-8">
            <input type="tel" class="form-control" name="telefonoFijo" id="telefonoFijo" [(ngModel)]="empresa.telefonoFijo">
          </div>
        </div>
        <!-- Dirección -->
        <div class="form-group row">
          <label for="direccion" class="col-lg-4 col-form-label">
            Dirección:
          </label>
          <div class="col-lg-8">
            <input class="form-control" name="direccion" id="direccion" [(ngModel)]="empresa.direccion">
          </div>
        </div>
        <!-- Pagina Web !-->
        <div class="form-group row">
          <label for="paginaWeb" class="col-lg-4 col-form-label">
            Página web:
          </label>
          <div class="col-lg-8">
            <input class="form-control" name="paginaWeb" id="paginaWeb" [(ngModel)]="empresa.paginaWeb">
          </div>
        </div>
        <!-- Tipo !-->
        <div class="form-group row">
          <label for="naturaleza" class="col-lg-4 col-form-label">
            Naturaleza:
          </label>
          <div class="col-lg-8">
            <select class="form-control" name="naturaleza" id="naturaleza" [(ngModel)]="empresa.naturaleza">
              <option value="">
                Seleccione...
              </option>
              <option value="1">
                Pública
              </option>
              <option value="2">
                Privada
              </option>
              <option value="3">
                Mixta
              </option>
            </select>
          </div>
        </div>
        <!-- Actividad Economica !-->
        <div class="form-group row">
          <label for="actividadEconomica" class="col-lg-4 col-form-label">
            Actividad Comercial:
          </label>
          <div class="col-lg-8">
            <input class="form-control" name="actividadEconomica" id="actividadEconomica" [(ngModel)]="empresa.actividadEconomica">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 text-center">
      <button class="btn btn-primary" (click)="registrar()">
        Registrar
      </button>
  </div>

