<div class="row">
  <div class="col-lg-12">
    <div class="top-banner-div" style="background-image: url(assets/img/welcome-bg.png);">
      <h1 class="text-left titulo" style="color:white; font-size: 70px; font-weight: 700;">
        QUIENES SOMOS
      </h1>
    </div>
  </div>
  <div class="container">
    <div style="float: left; width: 100%; height: 10px;"></div>
    <p class="col-12 text-justify">
      La Secretaría de Educación Superior, Ciencia, Tecnología e Innovación, dando cumplimiento al plan nacional de desarrollo "Toda una vida", y en busca
      de sumar esfuerzos para reducir el desempleo y fortalecer la matriz productiva, impulsa el desarrollo de una plataforma para viabilizar la interacción
      entre los técnicos y tecnólogos ecuatorianos y las grandes y pequeñas empresas.
    </p>
    <p class="col-12 text-justify">
      El Instituto Tecnológico Superior de Turismo y Patrimonio Yavirac asumió éste reto y, a travéz de la carrera de Desarrollo de Software, misma que forma
      tecnólogos con la metodología dual (50% práctica y 50% teórica) y que cuenta con el apoyo de la Cámara Alemana y empresas que tienen sede
      en el territorio Ecuatoriano, planificó y desarrolló éste portal web.
    </p>
    <p class="col-12 text-justify">
      Considerando las necesidades de los técnicos y tecnólogos graduados en el Ecuador y de las grandes y pequeñas empresas que requieren talento humano. Se
      ha desarrollado un espacio propicio para la publicación de las ofertas laborales existentes y que pueden ser satisfechas por el talento de un profesional
      técnico o un tecnólogo ecuatoriano. Así mismo, los técnicos y tecnólogos ecuatorianos disponen de un espacio para promocionar sus habilidades y destrezas
      en busca de una oferta laboral que sea propicia con su formación profesional, registrando y actualizando sus perfiles en sus respectivas hojas de vida.
    </p>
    <div style="float: left; width: 100%; height: 10px;"></div>
    <h4 class="col-12 text-justify mt-2">
      Ingeniería y Desarrollo:
    </h4>
    <div class="col-12 m-2">
      <ul class="col-12 m-2">
        <li>
          MSc. Luis Alfonso Salazar Vaca
        </li>
        <li>
          Ing. César Mauricio Tamayo López
        </li>
        <li>
          Ing. Edwin Raúl Parra Llive
        </li>
        <li>
          Ing. Gorky Francisco Estrella Sotomayor
        </li>
      </ul>
    </div>
    <div style="float: left; width: 100%; height: 10px;"></div>
    <h4 class="col-12 text-justify mt-2">
      Fecha de Publicación
    </h4>
    <div class="col-12 m-2">
      <p class="col-12 m-2">
        1era Versión - Quito 21 de junio de 2018
      </p>
    </div>
    <div style="float: left; width: 100%; height: 10px;"></div>
  </div>
</div>
