<div class="row">
  <div class="col-lg-12">
    <div class="top-banner-div" style="background-image: url(assets/img/welcome-bg.png);">
      <h1 class="text-left titulo" style="color:white; font-size: 70px; font-weight: 700;">
        BOLSA DE EMPLEO
      </h1>
    </div>
  </div>
  <div class="container">
    <h1 class="col-12 text-center">Quienes Somos</h1>
    <div style="float: left; width: 100%; height: 10px;"></div>
    <p class="col-12 text-justify">
      El Instituto Tecnológico Superior de Turismo y Patrimonio Yavirac, en su afán de promover el
      fortalecimiento de la generación de empleo así como la formación Técnica - Tecnológica, de la cual nuestro
      instituto es parte, ha gestado la iniciativa del Sistema de Recopilación, Gestión y Búsqueda de
      Oportunidades Laborales denominado “Bolsa de Empleo”.
    </p>
    <p class="col-12 text-justify">
      Este sistema fomentará la inserción laboral a partir del registro de candidatos, sus perfiles
      profesionales, su experiencias y certificaciones y demás información necesaria, que facilite la contratación
      del talento humano requerido por las empresas.
    </p>
    <p class="col-12 text-justify">
      El sistema, con el patrocinio de la Secretaría de Educación Superior, Ciencia, Tecnología e Innovación fomentará la
      inclusión de candidatos de los diferentes Institutos Técnicos - Tecnológicos del País, así como la participación de las
      empresas públicas y privadas que requieren talento humano.
    </p>
    <div style="float: left; width: 100%; height: 10px;"></div>
    <h4 class="col-12 text-justify mt-2">
      Instituciones Participantes
    </h4>
    <div class="col-12 m-2">
      <ul class="col-12 m-2">
        <li>
          Instituto Tecnológico Superior de Turismo y Patrimonio Yavirac
        </li>
        <li>
          Instituto Tecnológico de Educación Superior Benito Juárez
        </li>
        <li>
          Secretaría de Educación Superior, Ciencia, Tecnología e Innovación
        </li>
      </ul>
    </div>
    <div style="float: left; width: 100%; height: 10px;"></div>
    <h4 class="col-12 text-justify mt-2">
      Autores
    </h4>
    <div class="col-12 m-2">
      <ul class="col-12 m-2">
        <li>
          MSc. Luis Alfonso Salazar Vaca
        </li>
        <li>
          Ing. César Mauricio Tamayo López
        </li>
        <li>
          Ing. Gorky Francisco Estrella Sotomayor
        </li>
        <li>
          Ing. Edwin Raúl Parra Llive
        </li>
      </ul>
    </div>
    <div style="float: left; width: 100%; height: 10px;"></div>
    <h4 class="col-12 text-justify mt-2">
      Fecha de Publicación
    </h4>
    <div class="col-12 m-2">
      <p class="col-12 m-2">
        1era Versión - Quito 15 de agosto de 2018
      </p>
    </div>
    <div style="float: left; width: 100%; height: 10px;"></div>
  </div>
</div>
