<div class="row">
  <div class="col-12 mt-2 card">
    <div class="row mt-3">
      <div class="col-2">
        <div class="row">
          <div class="col-12 mt-3 text-center">
            <div class="group-form">
              <input type="file" style="visibility: hidden; height: 0px" class="form-control btn" id="logo"
                     placeholder="logo" #fileInput (change)="CodificarArchivo($event)" accept="image/*">
              <button class="btn btn-light" >
              <img src="{{empresaService.empresa.fotografia}}" class="col-8 m-3"
                   (click)="fileInput.click()">
              </button>
              <button type="button" class="btn btn-success form-control" (click)="insertar()">
                <span class="fa fa-save"></span>&nbsp;Guardar Cambios
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-10">
        <div class="row">
          <div class="col-6">
            <!--Identificacion-->
            <div class="form-group">
              <label for="identificacion">Indentificación:</label>
              <input type="text" class="form-control" id="identificacion" placeholder="RUC o Cédula"
                     [(ngModel)]="empresaService.empresa.identificacion">
            </div>
            <!--Razon Social-->
            <div class="form-group">
              <label for="razonSocial">Razón Social:</label>
              <input type="text" class="form-control" id="razonSocial" placeholder="Razón Social"
                     [(ngModel)]="empresaService.empresa.razonSocial">
            </div>
            <!--Nombre Comercial-->
            <div class="form-group">
              <label for="nombreComercial">Nombre Comercial:</label>
              <input type="text" class="form-control" id="nombreComercial" placeholder="Nombre Comercial"
                     [(ngModel)]="empresaService.empresa.nombreComercial">
            </div>
            <!--Actividad Economica-->
            <div class="form-group">
              <label for="actividadEconomica">Actividad Económica:</label>
              <input type="text" class="form-control" id="actividadEconomica" placeholder="Actividad Económica"
                     [(ngModel)]="empresaService.empresa.actividadEconomica">
            </div>
            <!--Naturaleza-->
            <div class="form-group">
              <label for="naturaleza">Naturaleza:</label>
              <select class="form-control" id="naturaleza" [(ngModel)]="empresaService.empresa.naturaleza">
                <option value="" selected>Seleccione...</option>
                <option value="Pública">Pública</option>
                <option value="Privada">Privada</option>
                <option value="Mixta">Mixta</option>
              </select>
            </div>
          </div>
          <div class="col-6">
            <!--Direccion-->
            <div class="form-group">
              <label for="direccion">Dirección:</label>
              <input type="text" class="form-control" id="direccion" placeholder="Dirección"
                     [(ngModel)]="empresaService.empresa.direccion">
            </div>
            <!--Pagina Web-->
            <div class="form-group">
              <label for="paginaWeb">Página Web:</label>
              <input type="text" class="form-control" id="paginaWeb" placeholder="Página Web"
                     [(ngModel)]="empresaService.empresa.paginaWeb">
            </div>
            <!--Correo Electronico-->
            <div class="form-group">
              <label for="correoElectronico">Correo Electrónico:</label>
              <input type="email" class="form-control" id="correoElectronico" placeholder="Correo Electrónico"
                     [(ngModel)]="empresaService.empresa.correoElectronico">
            </div>
            <!--Telefono Celular-->
            <div class="form-group">
              <label for="telefonoCelular">Teléfono Celular:</label>
              <input type="text" class="form-control" id="telefonoCelular" placeholder="Teléfono Celular"
                     [(ngModel)]="empresaService.empresa.telefonoCelular">
            </div>
            <!--Telefono Fijo-->
            <div class="form-group">
              <label for="telefonoFijo">Teléfono Fijo:</label>
              <input type="text" class="form-control" id="telefonoFijo" placeholder="Teléfono Fijo"
                     [(ngModel)]="empresaService.empresa.telefonoFijo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
