<div class="top-banner-div" style="background-image: url(assets/img/welcome-bg.png);">
  <h1 class="col-12 text-left titulo" style="color:white; font-size: 70px; font-weight: 700;">MI EMPRESA</h1>
</div>
<div class="col-12 mt-2">
  <ngb-tabset>
    <ngb-tab title="1. Datos Personales" id="tab1">
      <ng-template ngbTabContent>
        <app-informacion-empresa></app-informacion-empresa>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="2. Ofertas Laborales" id="tab2">
      <ng-template ngbTabContent>
        <app-ofertas-laborales></app-ofertas-laborales>
      </ng-template>
    </ngb-tab>
    <ngb-tab title="3. Profesionales" id="tab3">
      <ng-template ngbTabContent>
        <app-profesionales></app-profesionales>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>
