<div class="col-12 mt-2">
    <div class="row">
      <div class="col-12 card">
        <div class="row">
          <h4 class="col-12 text-center">Idioma</h4>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="form-group">
              <label for="idioma">Idioma</label>
              <input type="text" class="form-control" id="idioma" placeholder="Idioma">
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label for="nivelEscrito">Nivel Escrito</label>
              <select class="form-control" id="nivelEscrito" name="nivelEscrito">
                <option value="" selected>Seleccione...</option>
                <option value="Básico">Básico</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Avanzado">Avanzado</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label for="nivelHablado">Nivel Hablado</label>
              <select class="form-control" id="nivelHablado" name="nivelHablado">
                <option value="" selected>Seleccione...</option>
                <option value="Básico">Básico</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Avanzado">Avanzado</option>
              </select>
            </div>
          </div>
          <div class="col-3">
            <div class="form-group">
              <label for="nivelLectura">Nivel Lectura</label>
              <select class="form-control" id="nivelLectura" name="nivelLectura">
                <option value="" selected>Seleccione...</option>
                <option value="Básico">Básico</option>
                <option value="Intermedio">Intermedio</option>
                <option value="Avanzado">Avanzado</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-12 text-center">
            <button class="btn btn-primary" (click)="aceptar()"><span class="fa fa-plus-circle"></span>&nbsp;Agregar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 card mt-3">
        <div class="row">
          <div class="col-12">
            <h4 class="col-12 text-center">Idiomas</h4>
          </div>
          <div class="col-12">
            <table class="table table-sm table-hover">
              <thead>
                <th>Idioma</th>
                <th>Nivel Escrito</th>
                <th>Nivel Hablado</th>
                <th>Nivel Lectura</th>
                <th>Opciones</th>
              </thead>
              <tbody>
                <tr >
                  <td>Idioma</td>
                  <td>Nivel Escrito</td>
                  <td>Nivel Hablado</td>
                  <td>Nivel Lectura</td>
                  <td>
                      <button class="btn btn-warning" (click)="editar(producto)"><span class="fa fa-edit"></span></button>
                      <button class="btn btn-danger ml-1" (click)="borrar(producto)"><span class="fa fa-trash"></span></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
