<div class="top-banner-div" style="background-image: url(assets/img/welcome-bg.png);">
  <h1 class="col-12 text-left" style="color:white; font-size: 70px; font-weight: 700;">BOLSA DE EMPLEO</h1>
</div>

<div class="row">
  <div class="col-2">
    <h6 class="bg-warning form-control">
      <i class="fa fa-filter" aria-hidden="true"></i>
      Filtros
    </h6>
  </div>
  <div class="col-8">
    <app-filtro></app-filtro>
  </div>
</div>
<div class="row">
  <!--Menu lateral izquierdo-->
  <div class="col-2">
    <div id="accordion" class="accordion">
      <div class="card mb-0 bg-white">
        <div class="card-header collapsed" data-toggle="collapse" href="#collapseOne">
          <a class="card-title">
            Fecha de publicación
          </a>
        </div>
        <div id="collapseOne" class="card-body collapse" data-parent="#accordion">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td>
                  <a href="">Hoy</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Ayer</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Menor a 1 semana</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          <a class="card-title">
            Provincia
          </a>
        </div>
        <div id="collapseTwo" class="card-body collapse" data-parent="#accordion">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td>
                  <a href="">Pichincha</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Guayas</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Azuay</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <div class="card-header collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          <a class="card-title">
            Área
          </a>
        </div>
        <div id="collapseThree" class="card-body collapse" data-parent="#accordion">
          <div class="panel-body">
            <table class="table">
              <tr>
                <td>
                  <a href="">Tecnología, Sistemas y Telecomunicaciones</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Marketing y Publicidad</a>
                </td>
              </tr>
              <tr>
                <td>
                  <a href="">Otros</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Ofertas de talento humano-->
  <div class="col-10">
    <div class="card m-2" *ngFor="let postulanteActual of postulantes">
      <div class="card-body">
        <div class="card-title">
          <div class="row">
            <div class="col-8">
              <h3 class="col-12 text-left">{{postulanteActual.nombreCompleto}}</h3>
              <h5 class="col-12 text-left">{{postulanteActual.direccion}}</h5>
            </div>
            <div class="col-4 text-right">
              <table class="col-12">
                <tbody>
                <tr>
                  <th>
                    <i>Fecha de Anuncio:</i>&nbsp;
                  </th>
                  <td class="text-left">
                    <strong style="color: silver;">
                      <i>
                        {{postulanteActual.fechaDeNacimiento}}
                      </i></strong>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <p class="card-text text-justify">
          {{postulanteActual.identificacion}}
        </p>
        <div class="col-12 m-2 text-left">
          <button type="submit" class="btn btn-primary">
            <span class="fa fa-info-circle"></span>&nbsp;Mas Información
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12 mt-4">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-5 text-right">
      <img class="col-9" src="assets/img/BSCA EMPLEO.png">
    </div>
    <div class="col-5">
      <div class="col-9">
        <h1 style="color: #5b32b4;font-size: 48px;">Institutos Técnicos y Tecnológicos</h1>
        <p class="text-justify">
          La formación técnica y tecnológica superior en la actualidad posee una enseñanza del 50% académico y el otro 50% es práctico, este proceso de aprendizaje es necesario para concebir el perfil adecuado para los nuevos profesionales que se forman en los Institutos Superiores Tecnológicos y que requiere el Ecuador.
        </p>
      </div>
    </div>
  </div>
</div>
<div class="col-12 mt-4">
  <div class="container">
    <div class="video-area">
      <video class="col-12" controls>
        <source src="assets/videos/inedita.mp4">
      </video>
    </div>
  </div>
</div>
<div class="col-12" style="background-color: #5b32b4; margin-top: -150px; height: 400px;">
  <div class="col-12" style="height: 200px;">
  </div>
  <div class="col-12">
    <div class="row" style="color:white;">
      <div class="col-4">
        <div class="row">
          <div class="col-4">
            <h1 class="text-right">
              <span class="counter">
                {{contadorEmpresas}}
              </span>
            </h1>
          </div>
          <div class="col-6">
            <div class="cool-facts-content">
              <span class="fa fa-briefcase fa-2x mb-2"></span>
              <p>EMPRESAS <br/> REGISTRADAS</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="row">
          <div class="col-4">
            <h1 class="text-right">
              <span class="counter">
                {{contadorPersonas}}
              </span>
            </h1>
            </div>
            <div class="col-6">
            <div class="cool-facts-content">
              <span class="fa fa-user-plus fa-2x mb-2"></span>
              <p>PROFESIONALES <br/> VINCULADOS</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12 mt-4">
  <h1 class="col-12- text-center" style="color: #5b32b4; font-size: 72px; font-weight: 700;">YaviracTec</h1>
</div>
