<div class="row">
  <div class="col-6 col-sm-12">
    <div class="top-banner-div" style="background-image: url(assets/img/welcome-bg.png);">
      <h1 class="col-12 text-left titulo" style="color:white; font-size: 70px; font-weight: 700;">MIS POSTULACIONES</h1>
    </div>
  </div>
</div>
<ngb-tabset>
  <ngb-tab title="1. Ofertas Aplicadas" id="tab1">
    <ng-template ngbTabContent>
      <div class="row mt-2">
        <div class="col-12">
          <div class="card m-2" *ngFor="let offer of offers">
            <div *ngIf="offer != null" class="card-body">
              <div class="card-title">
                <!--Grid Ofertas-->
                <div class="row" style="overflow: auto">
                  <div class="col-12">
                    <div class="card mt-1" style="height: 310px">
                      <div class="card-header">
                        <div class="row">
                          <div class="col-8">
                            <h6>
                              <a href="javascript:void(0)" class="col-12 text-left"
                                 (click)="openOfertaLaboral(modalOfertaLaboral,offer,true)">
                                {{offer.position}}
                              </a>
                            </h6>
                            <h6 class="text-muted">
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                              {{offer.city+ ', ' +offer.province}}
                            </h6>
                          </div>
                          <div class="col-4">
                            <table class="col-12">
                              <tbody>
                              <tr>
                                <th>
                                  <i>Inicio Publicación:</i>&nbsp;
                                </th>
                                <td class="text-left text-muted">
                                  <strong>
                                    <i>
                                      {{offer.start_date}}
                                    </i>
                                  </strong>
                                </td>
                              </tr>
                              <tr>
                                <th>
                                  <i>Fin Publicación:</i>&nbsp;
                                </th>
                                <td class="text-left text-muted">
                                  <strong>
                                    <i>
                                      {{offer.finish_date}}
                                    </i></strong>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12">
                            <h6 class="text-muted" style="overflow: auto;height: 80px">
                              {{offer.activities}}
                            </h6>
                            <button class="btn btn-primary btn-sm pull-right"
                                    (click)="openOfertaLaboral(modalOfertaLaboral,offer,true)">
                              <span class="fa fa-info-circle"></span>&nbsp;Más Información
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer text-muted">
                        <div class="input-group">
                          <h6 class="text-muted text-uppercase">
                            <i class="fa fa-user" aria-hidden="true"></i>
                            {{offer.contact}}
                          </h6>
                          <h6 class="text-muted ml-4 text-uppercase">
                            <i class="fa fa-mobile-phone" aria-hidden="true"></i>
                            {{offer.cell_phone}}
                          </h6>
                          <h6 class="text-muted ml-4">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            {{offer.phone}}
                          </h6>
                          <h6 class="text-muted ml-4 text-lowercase">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            {{offer.email}}
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
  <ngb-tab title="2. Empresas Interesadas" id="tab2">
    <ng-template ngbTabContent>
      <div class="row mt-2">
        <div class="col-12">
          <div class="card m-2" *ngFor="let company of companies">
            <div *ngIf="company != null" class="card-body">
              <div class="card-title">
                <!--Grid Companies-->
                <div class="row" style="overflow: auto">
                  <div class="col-12">
                    <div class="card mt-1" style="height: 310px">
                      <div class="card-header">
                        <div class="row">
                          <div class="col-lg-12">
                            <h6>
                              <a href="javascript:void(0)" class="col-12 text-left"
                                 (click)="openCompany(modalCompany,company,true)">
                                {{company.trade_name}}
                              </a>
                            </h6>
                            <h6 class="text-muted">
                              <i class="fa fa-map-marker" aria-hidden="true"></i>
                              {{company.address}}
                            </h6>
                          </div>
                        </div>
                      </div>
                      <div class="card-body">
                        <div class="row">
                          <div class="col-12">
                            <h6 class="text-muted" style="overflow: auto;height: 80px">
                              {{company.comercial_activity}}
                            </h6>
                            <button class="btn btn-primary btn-sm pull-right"
                                    (click)="openCompany(modalCompany,company,true)">
                              <span class="fa fa-info-circle"></span>&nbsp;Más Información
                            </button>
                          </div>
                        </div>
                      </div>
                      <div class="card-footer text-muted">
                        <div class="input-group">
                          <h6 class="text-muted ml-4 text-uppercase">
                            <i class="fa fa-mobile-phone" aria-hidden="true"></i>
                            {{company.cell_phone}}
                          </h6>
                          <h6 class="text-muted ml-4">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            {{company.phone}}
                          </h6>
                          <h6 class="text-muted ml-4 text-lowercase">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            {{company.email}}
                          </h6>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ngb-tab>
</ngb-tabset>
<ng-template #modalOfertaLaboral let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">

    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('ClickEnX')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-lg">
    <div class="card">
      <div class="card-header bg-primary">
        <h3 class="text-white">Oferta Laboral</h3>
      </div>
      <div class="card-body m-1">
        <div class="row">
          <div class="col-lg-6">
            <!-- Codigo !-->
            <div class="form-group">
              <label for="editCodigo" class="col-form-label">
                <b>Código:</b>
              </label>
              <label class="form-control text-uppercase" id="editCodigo">
                {{selectedOffer.code}}
              </label>
            </div>

            <!-- Provincia !-->
            <div class="form-group ">
              <label for="editProvincia" class="col-form-label">
                <b>Provincia:</b>
              </label>
              <label class="form-control" id="editProvincia">
                {{selectedOffer.province}}
              </label>
            </div>

            <!-- Canton !-->
            <div class="form-group ">
              <label for="editCanton" class="col-form-label">
                <b>Cantón:</b>
              </label>
              <label class="form-control" id="editCanton">{{selectedOffer.city}}</label>
            </div>

            <!-- Inicio Publicacion !-->
            <div class="form-group datepicker-input">
              <label for="editInicioPublicacion" class="col-form-label">
                <b>Inicio Publicación:</b>
              </label>
              <div class="form-control">
                {{selectedOffer.start_date}}
              </div>
            </div>

            <!-- Fin Publicacion !-->
            <div class="form-group datepicker-input">
              <label for="editFinPublicacion" class="col-form-label">
                <b>Fin Publicación:</b>
              </label>
              <div class="form-control">
                {{selectedOffer.finish_date}}
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <!-- Contacto !-->
            <div class="form-group">
              <label for="editContacto" class="col-form-label">
                <b>Contacto:</b>
              </label>
              <label class="form-control text-uppercase" id="editContacto">
                {{selectedOffer.contact}}
              </label>
            </div>

            <!-- Correo Electronico !-->
            <div class="form-group ">
              <label for="editCorreoElectronico" class="col-form-label">
                <b>Correo:</b>
              </label>
              <label class="form-control text-lowercase" id="editCorreoElectronico">
                {{selectedOffer.email}}
              </label>
            </div>

            <!-- Telefono Fijo !-->
            <div class="form-group ">
              <label for="editTelefonoFijo" class="col-form-label">
                <b>Teléfono Fijo:</b>
              </label>
              <label class="form-control" id="editTelefonoFijo">
                {{selectedOffer.phone}}
              </label>
            </div>

            <!-- Telefono Celular !-->
            <div class="form-group ">
              <label for="editTelefonoCelular" class="col-form-label">
                <b>Teléfono Celular:</b>
              </label>
              <label class="form-control" id="editTelefonoCelular">
                {{selectedOffer.cell_phone}}
              </label>
            </div>

            <!-- Tipo Contrato !-->
            <div class="form-group ">
              <label for="editTipoContrato" class="col-form-label">
                <b>Tipo Contrato:</b>
              </label>
              <label class="form-control" id="editTipoContrato">
                {{selectedOffer.contract_type}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="card">
      <div class="card-header bg-info">
        <h3 class="text-white">Perfil del Cargo</h3>
      </div>
      <div class="card-body  m-1">
        <!-- Cargo !-->
        <div class="row">
          <div class="col-lg-12">
            <div class="form-group">
              <label for="editCargo" class="col-form-label ">
                <b>Cargo:</b>
              </label>
              <label class="form-control text-uppercase" name="cargo" id="editCargo" style="overflow: auto;">
                {{selectedOffer.position}}
              </label>
            </div>
          </div>
        </div>
        <!-- Camp Amplio y Especifico !-->
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group ">
              <label for="campoAmplio" class="col-form-label">
                <b>Campo Amplio:</b>
              </label>
              <label class="form-control" id="campoAmplio" style="overflow: auto;height: 75px">
                {{selectedOffer.broad_field}}
              </label>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group ">
              <label for="campoEspecifico" class="col-form-label">
                <b>Campo Específico:</b>
              </label>
              <label class="form-control" id="campoEspecifico" style="overflow: auto;height: 75px">
                {{selectedOffer.specific_field}}
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Jornada !-->
          <div class="col-3">
            <div class="form-group ">
              <label for="jornada" class="col-form-label">
                <b>Jornada:</b>
              </label>
              <label class="form-control" id="jornada">
                {{selectedOffer.working_day}}
              </label>
            </div>
          </div>
          <!-- Numero de Puestos !-->
          <div class="col-3">
            <div class="form-group ">
              <label for="numeroPuestos" class="col-form-label">
                <b>Puestos:</b>
              </label>
              <label class="form-control" id="numeroPuestos">
                {{selectedOffer.number_jobs}}
              </label>
            </div>
          </div>
          <!-- Remuneracion !-->
          <div class="col-3">
            <div class="form-group ">
              <label for="remuneracion" class="col-form-label">
                <b>Remuneración:</b>
              </label>
              <label class="form-control" id="remuneracion">
                {{selectedOffer.remuneration}}
              </label>
            </div>
          </div>
          <!-- Tiempo Experiencia!-->
          <div class="col-3">
            <div class="form-group ">
              <label for="experiencia" class="col-form-label">
                <b>Tiempo Experiencia:</b>
              </label>
              <label class="form-control" id="experiencia">
                {{selectedOffer.experience_time}}
              </label>
            </div>
          </div>
          <!-- Horas de Capacitacion !-->
          <div class="col-6">
            <div class="form-group ">
              <label for="horasCapacitacion" class="col-form-label">
                <b>Horas de Capacitación:</b>
              </label>
              <label class="form-control" id="horasCapacitacion">
                {{selectedOffer.training_hours}}
              </label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <!-- Actividades !-->
            <div class="form-group ">
              <label for="actividades" class="col-form-label">
                <b>Actividades:</b>
              </label>
              <label class="form-control text-uppercase" id="actividades" style="overflow: auto;height: 120px">
                {{selectedOffer.activities}}
              </label>
            </div>
            <!-- Informacion Adicional !-->
            <div class="form-group ">
              <label for="informacionAdicional" class="col-form-label">
                <b>Información Adicional:</b>
              </label>
              <label class="form-control text-uppercase texto" id="informacionAdicional"
                     style="overflow: auto;height: 120px">
                {{selectedOffer.aditional_information}}
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-lg" title="Cerrar" (click)="c('close')">
      <i class="fa fa-close" aria-hidden="true"> Cerrar</i>
    </button>
  </div>
</ng-template>

<ng-template #modalCompany let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">

    </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('ClickEnX')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body modal-lg">
    <div class="card">
      <div class="card-header bg-primary">
        <h3 class="text-white">Empresa - {{selectedCompany.trade_name}}</h3>
      </div>
      <div class="card-body m-1">
        <div class="row">
          <div class="col-lg-12">
            <!-- Actividad Comercial!-->
            <div class="form-group">
              <label for="editCodigo" class="col-form-label">
                <b>Actividad Comercial:</b>
              </label>
              <label class="form-control text-uppercase" id="editCodigo">
                {{selectedCompany.comercial_activity}}
              </label>
            </div>

            <!-- Telefono !-->
            <div class="form-group ">
              <label for="editProvincia" class="col-form-label">
                <b>Teléfono:</b>
              </label>
              <label class="form-control" id="editProvincia">
                {{selectedCompany.phone}}
              </label>
            </div>

            <!-- Celular !-->
            <div class="form-group ">
              <label for="editCanton" class="col-form-label">
                <b>Celular:</b>
              </label>
              <label class="form-control" id="editCanton">{{selectedCompany.cell_phone}}</label>
            </div>

            <!-- Email !-->
            <div class="form-group ">
              <label for="editCanton" class="col-form-label">
                <b>Correo Electrónico:</b>
              </label>
              <label class="form-control" id="editCanton">{{selectedCompany.email}}</label>
            </div>

            <!-- Pagina Web !-->
            <div class="form-group ">
              <label for="editCanton" class="col-form-label">
                <b>Página Web:</b>
              </label>
              <label class="form-control" id="editCanton">{{selectedCompany.web_page}}</label>
            </div>

            <!-- Direccion !-->
            <div class="form-group ">
              <label for="editCanton" class="col-form-label">
                <b>Dirección:</b>
              </label>
              <label class="form-control" id="editCanton">{{selectedCompany.address}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary btn-lg" title="Cerrar" (click)="c('close')">
      <i class="fa fa-close" aria-hidden="true"> Cerrar</i>
    </button>
  </div>
</ng-template>
