<div class="top-banner-div" style="background-image: url(assets/img/welcome-bg.png);">
  <h1 class="col-12 text-left" style="color:white; font-size: 70px; font-weight: 700;">MIS POSTULACIONES</h1>
</div>
<div class="row mt-2">
  <div class="col-12">
    <div class="card m-2">
      <div class="card-body">
        <div class="card-title">
         <div class="row">
           <div class="col-8">
              <h3 class="col-12 text-left">NOMBRE DE LA EMPRESA</h3>
              <h5 class="col-12 text-left">CARGO OFRECIDO</h5>
           </div>
           <div class="col-4 text-right">
              <table class="col-12">
                <tbody>
                  <tr>
                    <th>
                      <i>Fecha de Aplicación:</i>&nbsp;
                    </th>
                    <td class="text-left">
                      <strong style="color: silver;"><i>2018/7/19</i></strong>
                    </td>
                  </tr>
                  <tr>
                    <th>
                      <i>Fecha de Anuncio:</i>&nbsp;
                    </th>
                    <td class="text-left">
                      <strong style="color: silver;"><i>2018/7/19</i></strong>
                    </td>
                  </tr>
                </tbody>
              </table>
           </div>
         </div>
        </div>
        <p class="card-text text-justify">
          Administrar la infraestructura de red y servidores de la institución, Mantenimiento de correo electŕonico ZIMBRA, gestionar la disponibilidad de los servicios y administrar la infraestructura virtualizada. Gestionar los respaldos de la información de correos y bases de datos.
        </p>
        <div class="col-12 m-2 text-left">
          <button type="submit" class="btn btn-primary" (click)="open(content)">
            <span class="fa fa-info-circle"></span>&nbsp;Mas Información
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <app-detalle-oferta-laboral></app-detalle-oferta-laboral>
</ng-template>
