<div class="row m-1">
  <div class="col-12">
    <div class="row m-1">
      <div class="col-2 offset-10">
      </div>
    </div>
    <div class="row ml-1">
      <div class="col-12">
        <nav>
          <ul class="pagination">
            <li class="page-item">
              <button type="button" class="page-link" (click)="paginate(false)" [disabled]="flagPagination">
                {{messages['bottomPaginationNext']['text']}}
              </button>
            </li>
            <li class="page-item">
              <a class="page-link" href="javascript:void(0)">{{actual_page}} de {{total_pages}}</a>
            </li>
            <li class="page-item">
              <button type="button" class="page-link" (click)="paginate(true)" [disabled]="flagPagination">
                {{messages['bottomPaginationBack']['text']}}
              </button>
            </li>
          </ul>
        </nav>
      </div>
    </div>
    <div class="row m-1">
      <div class="col-12">
        <table class="table table-bordered table-hover table-striped">
          <thead class="table-default text-center">
          <th width="35%">Institución</th>
          <th width="20%">Tipo</th>
          <th width="20%">Descripción</th>
          <th width="15%">Certificado</th>
          <th width="10%">Horas</th>
          <th>
            <button class="btn btn-success"
                    (click)="open(content, selectedCourse, false)">
              <span class="{{messages['bottomAdd']['icon']}}"> {{messages['bottomAdd']['text']}}</span>
            </button>
          </th>
          </thead>
          <tbody>
          <tr *ngFor="let item of courses">
            <td>{{item.institution}}</td>
            <td>{{item.event_type}}</td>
            <td>{{item.event_name}}</td>
            <td>{{item.type_certification}}</td>
            <td>{{item.hours}}</td>
            <td class="text-center">
              <button class="btn btn-warning btn-sm text-white" (click)="open(content,item,true)"><span
                class="{{messages['bottomUpdate']['icon']}}"></span></button>
              <button class="btn btn-danger ml-1 btn-sm" (click)="deleteCourse(item)"><span
                class="{{messages['bottomDelete']['icon']}}"></span>
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
  <form name="empresaform" method="post" #formCtrl="ngForm">
    <div class="modal-header">
      <div class="row">
        <h4 class="col-12 text-center" name="titulo">Capacitación/Curso:</h4>
      </div>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-12">
          <div class="form-group">
            <label for="institucion">
              <b class="text-danger">*</b> Institución:
            </label>
            <input type="text" [(ngModel)]="selectedCourse.institution" class="form-control text-uppercase"
                   id="institucion" name="institucion" placeholder="Nombre de la Institución" required>
          </div>
          <div class="form-group">
            <label>
              <b class="text-danger">*</b> Tipo Evento:
            </label>
            <select class="form-control" [(ngModel)]="selectedCourse.event_type" id="event_type" name="event_type"
                    required>
              <option value="" selected>SELECCIONE...</option>
              <option *ngFor="let item of tiposEvento" value="{{item.descripcion}}">{{item.descripcion}}</option>
            </select>
          </div>
          <div class="form-group">
            <label>
              <b class="text-danger">*</b> Nombre del Evento:
            </label>
            <input type="text" [(ngModel)]="selectedCourse.event_name" class="form-control  text-uppercase"
                   id="event_name" name="event_name" placeholder="Nombre del Evento" required>
          </div>
          <div class="form-group">
            <div class="row">
              <div class="col-lg-6">
                <label for="start_date">
                  <b class="text-danger">*</b> Fecha Inicio:
                </label>
                <input type="date" class="form-control" name="start_date" id="start_date"
                       (keypress)="false" [(ngModel)]="selectedCourse.start_date" required>
              </div>
              <div class="col-lg-6">
                <label for="finish_date">
                  <b class="text-danger">*</b> Fecha Fin:
                </label>
                <input type="date" class="form-control" name="start_date" id="finish_date"
                       (keypress)="false" [(ngModel)]="selectedCourse.finish_date" required>
              </div>
            </div>
          </div>

          <div class="form-group">
            <div class="row">
              <div class="col-lg-6">
                <label for="hours">
                  <b class="text-danger">*</b> Horas:
                </label>
                <input type="number" min="1" [(ngModel)]="selectedCourse.hours" class="form-control"
                       id="hours" name="hours" placeholder="Total de Horas" required>
              </div>
              <div class="col-lg-6">
                <label>
                  <b class="text-danger">*</b> Tipo Certificado:
                </label>
                <select class="form-control" [(ngModel)]="selectedCourse.type_certification" id="type_certification"
                        name="type_certification"
                        required>
                  <option value="" selected>SELECCIONE...</option>
                  <option value="APROBACIÓN" selected>APROBACIÓN</option>
                  <option value="ASISTENCIA" selected>ASISTENCIA</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <h6 class="text-muted">
        <b class="text-danger">{{messages['requiredFields']['icon']}} </b>
        {{messages['requiredFields']['text']}}
      </h6>
      <button class="btn btn-success" (click)="c('save')" [disabled]="formCtrl.form.invalid">
        <span class="{{messages['saveConfirmationDialog']['iconOk']}}"></span>&nbsp;{{messages['saveConfirmationDialog']['ok']}}
      </button>
      <button class="btn btn-danger" (click)="c('close')">
        <span class="{{messages['saveConfirmationDialog']['iconCancel']}}"></span>&nbsp;{{messages['saveConfirmationDialog']['cancel']}}
      </button>
    </div>
  </form>
</ng-template>
